/* ====================================================
Font
==================================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
/* ====================================================
Media Quary
==================================================== */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

section {
  position: relative;
}

a {
  color: #004a80;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
}

.inner {
  display: block;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}

.inner-1200 {
  max-width: 1200px;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.heading {
  display: block;
  font-size: 23px;
  margin-bottom: 15px;
  font-weight: 400;
  color: #363636;
}

.bg-01 {
  background: #4285f4 !important;
}

.bg-02 {
  background: #81adf8 !important;
}

.bg-03 {
  background: #a2c3fa !important;
}

.bg-gray {
  background: #ebebeb !important;
}

.bg-gren {
  background: #e2ecf7 !important;
}

.bg-line-yellow {
  background: #fffef2 !important;
}

.bg-blue {
  background: #007cc4 !important;
  color: white;
}

.bg-orther {
  background: #0060b1 !important;
}

.form-control {
  font-size: 16px;
  border: 1px solid #c2c2c2;
  height: 30px;
  padding: 0 6px;
  background-color: #f2faff;
}

.form-control.atm {
  background: #f2faff url(../img/index/atm.png) no-repeat;
  background-position: 10px 13px;
  padding-left: 40px;
}

@media screen and (max-width: 640px) {
  .form-control {
    height: 36px;
    font-size: 14px;
  }
}

.form-control.odd {
  border: none;
  background: #ebebeb !important;
  -webkit-box-shadow: 0 0 0 0 black;
          box-shadow: 0 0 0 0 black;
}

.form-control.none-border {
  border: none;
  background: none;
  -webkit-box-shadow: 0 0 0 0 black;
          box-shadow: 0 0 0 0 black;
}

select.form-control {
  background: url("../img/common/select.png") no-repeat;
  background-position: top right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.form-control::-ms-expand {
  display: none;
}

.btn {
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none !important;
  padding: 10px 20px;
  min-width: 200px;
  border-radius: 2px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  background: #ebebeb;
  background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#cfcccc));
  background: -o-linear-gradient(top, #ebebeb 0%, #cfcccc 100%);
  background: linear-gradient(180deg, #ebebeb 0%, #cfcccc 100%);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.36);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.36);
  color: #959595;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e5771e), to(#7d3511)) !important;
  background: -o-linear-gradient(top, #e5771e 0%, #7d3511 100%) !important;
  background: linear-gradient(180deg, #e5771e 0%, #7d3511 100%) !important;
  color: white !important;
}

@media screen and (max-width: 640px) {
  .btn {
    font-size: 17px;
    padding: 8px 10px;
    min-width: 50px;
    border-radius: 5px;
  }
}

.btn-blue {
  background: #007ebf !important;
  color: white !important;
}

.btn-orange {
  background: #f57f1f;
  background: -webkit-gradient(linear, left top, left bottom, from(#f57f1f), to(#c9561c));
  background: -o-linear-gradient(top, #f57f1f 0%, #c9561c 100%);
  background: linear-gradient(180deg, #f57f1f 0%, #c9561c 100%);
  color: white !important;
}

.btn-gray {
  background: #848484;
  background: -webkit-gradient(linear, left top, left bottom, from(#848484), to(#474747));
  background: -o-linear-gradient(top, #848484 0%, #474747 100%);
  background: linear-gradient(180deg, #848484 0%, #474747 100%);
  color: white !important;
}

.btn:hover {
  opacity: 1;
}

.btn-none {
  background: none;
  border-radius: 50%;
  min-width: 10px;
  padding: 0;
}

.btn-default {
  background: #007dbf;
  background: -webkit-gradient(linear, left top, right top, from(#007dbf), to(rgba(0, 95, 170, 0.490634)));
  background: -o-linear-gradient(left, #007dbf 0%, rgba(0, 95, 170, 0.490634) 100%);
  background: linear-gradient(90deg, #007dbf 0%, rgba(0, 95, 170, 0.490634) 100%);
  border-radius: 30px;
  color: white;
  border: 1px solid white;
}

.btn-default:hover {
  border: 1px solid transparent;
}

.dropdown-toggle {
  cursor: pointer;
}

.w100 {
  width: 100% !important;
}

.mw-600 {
  width: auto;
  max-width: 600px;
  margin: 0 auto;
}

.mw-100 {
  max-width: 100px;
}

.color-blue {
  color: #007cc4 !important;
}

.color-orange {
  color: #f26522 !important;
}

.color-red {
  color: red !important;
}

.color-gray {
  color: #959595 !important;
}

.breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0;
}

.breadcrumb li a {
  color: #6dcff6;
}

.pure-input input[type="checkbox"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.pure-input input[type="checkbox"] + label:after {
  background-color: transparent;
  top: 50%;
  left: 5px;
  width: 11px;
  height: 4px;
  margin-top: -7px;
  border-style: solid;
  border-color: #fff;
  border-width: 0 0 3px 3px;
  -o-border-image: none;
  border-image: none;
  -webkit-transform: rotate(-45deg) scale(0);
  -ms-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
}

.pure-input input[type="checkbox"]:checked + label:after {
  content: '';
  -webkit-transform: rotate(-45deg) scale(1);
      -ms-transform: rotate(-45deg) scale(1);
          transform: rotate(-45deg) scale(1);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -o-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.pure-input input[type="checkbox"]:checked + label:before {
  -webkit-animation: borderscale 200ms ease-in;
          animation: borderscale 200ms ease-in;
  background: #000;
}

.pure-input input[type="checkbox"]:checked + label + .check-note {
  display: block;
}

.pure-input input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.pure-input input[type="radio"] + label:after, .pure-input input[type="radio"] + label:before {
  border-radius: 50%;
}

.pure-input input[type="radio"] + label:after {
  left: 6px;
}

.pure-input input[type="radio"]:checked + label:before {
  -webkit-animation: borderscale 300ms ease-in;
          animation: borderscale 300ms ease-in;
  background-color: white;
}

.pure-input input[type="radio"]:checked + label:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  background: #464646;
}

.pure-input label {
  position: relative;
  padding: 0 0 0 30px;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  color: #464646;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .pure-input label {
    font-size: 16px;
  }
}

.pure-input label:before {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  content: '';
  color: #4F8196;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #c2c2c2;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 3px;
}

.pure-input label:after {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  content: '';
  background-color: #fff;
  position: absolute;
  top: 13px;
  left: 4px;
  width: 10px;
  height: 10px;
  margin-top: -7px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -o-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.btn-demo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none;
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  z-index: 9999;
}

@media screen and (max-width: 767px) {
  .btn-demo {
    width: 40px;
    height: 40px;
    right: 5px;
    bottom: 5px;
  }
}

.btn-demo.active {
  position: absolute;
  bottom: calc(100% + 10px);
}

.btn-demo i {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eeeeee;
  border-radius: 50%;
  color: #f58220;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-demo.close {
  opacity: 1;
}

.btn-demo.close img {
  opacity: 0;
  visibility: hidden;
}

.btn-demo.close i {
  opacity: 1;
  visibility: visible;
}

.custom-modal {
  bottom: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.custom-modal .modal-dialog {
  width: auto;
  max-width: 800px;
}

.custom-modal .modal-content {
  font-size: 16px;
  padding: 50px 0;
}

.custom-modal .modal-content .modal-title {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
  color: #363636;
}

.custom-modal .modal-content .close {
  position: absolute;
  top: -30px;
  right: 20px;
  font-size: 32px;
}

.custom-modal .modal-content .modal-header {
  position: relative;
  padding: 0 15px;
  border-bottom: none;
}

.custom-modal .modal-content .ttl {
  display: block;
  text-transform: uppercase;
  color: #363636;
  margin-bottom: 10px;
}

.custom-modal .modal-content p {
  color: #707070;
  margin-bottom: 15px;
}

.custom-modal .modal-content label {
  display: block;
  margin-bottom: 10px;
}

.custom-modal .modal-content .form-control {
  margin-bottom: 20px;
}

.custom-modal .modal-content .btn {
  width: 100%;
}

.custom-modal ul li {
  color: #464646;
  font-weight: 500;
  margin-bottom: 10px;
}

.custom-modal-02 {
  bottom: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.custom-modal-02 .modal-dialog {
  width: auto;
  max-width: 800px;
}

.custom-modal-02 .modal-body {
  padding: 0;
}

.custom-modal-02 .modal-content {
  font-size: 16px;
  border-radius: 5px;
  overflow: hidden;
}

.custom-modal-02 .modal-content .modal-title {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
  color: #363636;
}

.custom-modal-02 .modal-content .close {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 30px;
  color: #fdc689;
  opacity: 1;
}

.custom-modal-02 .modal-content .modal-header {
  position: relative;
  padding: 20px 100px;
  border-bottom: none;
  background: #007cc4;
  color: white;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .custom-modal-02 .modal-content .modal-header {
    padding: 10px 60px;
    font-size: 20px;
  }
}

.custom-modal-02 .modal-content .modal-header .ttl {
  position: relative;
}

.custom-modal-02 .modal-content .modal-header .ttl i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background: #0091e6;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  position: absolute;
  left: -50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.custom-modal-02 .modal-content .show-modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 605px;
  margin: 30px auto;
}

@media screen and (max-width: 767px) {
  .custom-modal-02 .modal-content .show-modal-body {
    margin: 0;
    padding: 15px;
  }
}

.custom-modal-02 .modal-content .show-modal-body .show-left {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .custom-modal-02 .modal-content .show-modal-body .show-left {
    width: 100%;
  }
}

.custom-modal-02 .modal-content .show-modal-body .show-left .row {
  margin-bottom: 15px;
}

.custom-modal-02 .modal-content .show-modal-body .show-right {
  width: 35%;
}

@media screen and (max-width: 767px) {
  .custom-modal-02 .modal-content .show-modal-body .show-right {
    width: 100%;
  }
}

.custom-modal-02 .modal-content .modal-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 605px;
  margin: 30px auto;
  min-height: 300px;
}

@media screen and (max-width: 767px) {
  .custom-modal-02 .modal-content .modal-status {
    margin: 0;
    padding: 15px;
  }
}

.custom-modal-02 .modal-content .modal-status .img {
  width: 27.5%;
}

.custom-modal-02 .modal-content .modal-status .txt {
  width: 72.5%;
  padding-left: 20px;
  color: #363636;
  font-size: 18px;
}

.custom-modal-02 .modal-content .modal-status .txt .ttl {
  display: block;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #007cc4;
  font-size: 16px;
}

.custom-modal-02 .modal-content .modal-status .txt .coppy {
  display: block;
  background: #fdf1e4;
  margin-bottom: 20px;
  word-break: break-all;
  padding: 5px 10px;
  position: relative;
}

.custom-modal-02 .modal-content .modal-status .txt .coppy .on-coppy {
  cursor: pointer;
  position: absolute;
  bottom: 100%;
  right: 0;
  background: #363636;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  display: none;
}

.custom-modal-02 .modal-content .modal-status .txt .coppy:hover .on-coppy {
  display: inline-block;
}

.custom-modal-02 .modal-content .modal-footer {
  background: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top: none;
  padding: 20px;
}

.custom-modal-02 .modal-content .modal-user {
  padding: 30px 50px;
  overflow: auto;
  max-height: 80vh;
}

@media screen and (max-width: 767px) {
  .custom-modal-02 .modal-content .modal-user {
    padding: 15px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row > div {
  position: relative;
}

@media screen and (max-width: 767px) {
  .row > div.col-xs-12 {
    margin-bottom: 20px;
  }
  .row > div.col-xs-12:last-child {
    margin-bottom: 0;
  }
}

.row-s {
  margin: 0 -7px;
}

.row-s .col-s {
  padding: 0 7px;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-modal-full {
  bottom: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.custom-modal-full .modal-dialog {
  margin: 0 auto;
  width: auto;
  max-width: 1700px;
}

.custom-modal-full .modal-header {
  position: relative;
}

.custom-modal-full .modal-header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1024px;
}

.custom-modal-full .modal-header .btn {
  font-size: 14px;
  padding: 5px 15px;
  -o-transition: ease 0s;
  -webkit-transition: ease 0s;
  transition: ease 0s;
}

.custom-modal-full .modal-header .close {
  margin-top: 0;
  font-size: 30px;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 640px) {
  .custom-modal-full .modal-header .close {
    top: 10px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.show-pdf {
  min-height: 50vh;
}

.show-pdf #fill-pdf {
  display: none;
  width: 100% !important;
  height: 85vh !important;
}

@media screen and (max-width: 767px) {
  .show-pdf #fill-pdf {
    height: 40vh !important;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #363636;
  overflow-x: hidden;
  line-height: 1.4;
}

.logo-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30px;
  left: 30px;
  z-index: 9;
}

@media screen and (max-width: 767px) {
  .logo-login {
    top: 15px;
    left: 15px;
    right: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
  }
}

.logo-login a {
  display: inline-block;
  margin-right: 50px;
}

@media screen and (max-width: 640px) {
  .logo-login a {
    margin-right: 0;
  }
}

.logo-login-02 {
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 30px;
  background: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-login-02 .phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  color: #89c655;
  margin-right: 0;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .logo-login-02 .phone {
    font-size: 16px;
  }
}

.logo-login-02 .phone i {
  font-size: 30px;
  display: inline-block;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .logo-login-02 .phone i {
    font-size: 18px;
    margin-right: 5px;
  }
}

.system-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  min-height: 100vh;
  background: #eeeeee;
}

.system-about {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  text-align: center;
  font-size: 18px;
  padding-top: 50px;
}

@media screen and (max-width: 767px) {
  .system-about {
    font-size: 14px;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 30px 15px;
  }
}

.system-about .img {
  width: 100%;
  margin-bottom: 40px;
}

@media screen and (max-width: 1440px) {
  .system-about .img img {
    max-height: 350px;
  }
}

.system-about .txt {
  width: 100%;
}

.system-about .txt .ttl {
  display: block;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

@media screen and (max-width: 640px) {
  .system-about .txt .ttl {
    font-size: 20px;
  }
}

.system-login {
  width: 40%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  text-align: center;
  padding: 0 15px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .system-login {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 100%;
    padding: 120px 15px 20px;
    position: static;
  }
}

.system-login .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.system-login .app a {
  display: inline-block;
  margin: 0 10px;
}

.system-login .img {
  width: 100%;
  margin-bottom: 15px;
}

.system-login .ttl {
  display: block;
  font-size: 24px;
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (max-width: 1440px) {
  .system-login .ttl {
    font-size: 20px;
  }
}

.system-login form {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  text-align: left;
  font-size: 16px;
}

.system-login form .item {
  margin-bottom: 30px;
  position: relative;
}

.system-login form .item .show-password {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #707070;
}

.system-login form .item label {
  display: block;
  margin-bottom: 10px;
}

.system-login form .item button {
  margin-bottom: 20px;
}

.system-login form .item a {
  font-size: 14px;
  text-decoration: underline;
}

.system-login .form-control {
  height: 40px;
}

.system-login select.form-control {
  height: 40px;
  background: white url("../img/common/select-03.png") no-repeat;
  background-position: right center;
}

.system-block-02 {
  background: #0052a0;
  color: white;
  margin-top: 79px;
  min-height: calc(100vh - 79px);
}

@media screen and (max-width: 767px) {
  .system-block-02 {
    margin-top: 0;
  }
}

.system-block-02 .system-about {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 30px 0;
}

.system-block-02 .system-about img {
  margin: 0;
  max-height: 70vh;
}

.system-block-02 .system-login {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background: none;
}

.system-block-02 .system-login .item a {
  color: white;
}

.system-block-02 .system-login .suport-new {
  background: #0052a0;
}

.system-block-02 .system-login .suport-new .show {
  background: #0052a0;
  position: relative;
}

.system-block-02 .system-login .suport-new .suport-new-close {
  position: absolute;
  bottom: 100%;
  right: 0;
  color: white;
  cursor: pointer;
  font-size: 38px;
}

@media screen and (max-width: 767px) {
  .system-block-02 .system-login .suport-new .suport-new-close {
    display: none;
  }
}

.system-block-03 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0052a0;
  color: white;
  margin-top: 79px;
  min-height: calc(100vh - 79px);
}

@media screen and (max-width: 767px) {
  .system-block-03 {
    margin-top: 0;
    min-height: 100vh;
  }
}

.system-block-03 .system-login {
  background: none;
  width: 100%;
}

.system-block-03 a {
  color: white;
}

.system-block-03 .suport-new {
  background: rgba(0, 0, 0, 0.46);
}

.system-block-03 .suport-new .show {
  background: #0052a0;
  position: relative;
}

.system-block-03 .suport-new .suport-new-close {
  position: absolute;
  bottom: 100%;
  right: 0;
  color: white;
  cursor: pointer;
  font-size: 38px;
}

@media screen and (max-width: 767px) {
  .system-block-03 .suport-new .suport-new-close {
    display: none;
  }
}

.suport-new {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

@media screen and (max-width: 767px) {
  .suport-new {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.26);
    z-index: 99;
    overflow: scroll;
  }
}

.suport-new.active {
  opacity: 1;
  visibility: visible;
}

.suport-new .show {
  border: 1px solid #cccc;
  border-radius: 20px;
  padding: 30px 15px;
  background: #eeeeee;
  text-align: left;
  max-width: 400px;
  margin: 0 auto;
}

.suport-new .show .heading-popup-new {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .suport-new .show .heading-popup-new {
    font-size: 25px;
  }
}

.suport-new .show .ttl {
  font-size: 25px;
  margin-bottom: 15px;
}

.suport-new .show label, .suport-new .show .form-control {
  margin-bottom: 15px;
}

.suport-new .show .btn {
  margin-bottom: 30px;
}

.suport-new .show ul {
  padding-top: 10px;
}

.suport-new .show ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.suport-new .show ul li:last-child {
  margin-bottom: 0;
}

.suport-new .show ul li i {
  margin-right: 10px;
}

main {
  position: relative;
}

.list-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.list-bg .item {
  display: none;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.list-bg .item.active {
  display: block;
}

/*# sourceMappingURL=maps/login.css.map */
