/* ====================================================
Font
==================================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
/* ====================================================
Media Quary
==================================================== */
body {
  font-family: "Roboto", sans-serif;
  color: #363636;
  overflow-x: hidden;
  line-height: 1.4;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  position: relative;
  z-index: 999;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.44);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.44);
}

@media screen and (max-width: 767px) {
  #header {
    padding: 15px;
  }
}

#header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  #header .logo {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
  }
}

#header .logo a {
  display: inline-block;
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  #header .logo a {
    margin-right: 0;
  }
}

#header .header-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  #header .header-user {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

#header .header-user .dropdown {
  border-right: 1px solid;
  padding-right: 10px;
  margin-right: 10px;
}

#header .header-user .dropdown span {
  font-weight: 500;
  color: #959595;
  cursor: pointer;
  margin-left: 5px;
}

@media screen and (max-width: 767px) {
  #header #mainMenu {
    display: none;
  }
}

#header #mainMenu > .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header #mainMenu > .menu > .item {
  position: relative;
}

#header #mainMenu > .menu > .item > a {
  display: block;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 30px 15px;
  color: #959595;
}

#header #mainMenu > .menu > .item.active > a, #header #mainMenu > .menu > .item:hover > a {
  color: #f58220;
}

#header #mainMenu > .menu > .item .sub-menu {
  background: #007cc4;
  border-radius: 5px;
  padding: 15px 20px;
  min-width: 290px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.29);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.29);
}

#header #mainMenu > .menu > .item .sub-menu:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: 100%;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  border-bottom: solid 10px #007cc4;
}

#header #mainMenu > .menu > .item .sub-menu li a {
  display: block;
  white-space: nowrap;
  font-size: 15px;
  padding: 10px;
  color: white;
}

#header #mainMenu > .menu > .item .sub-menu li a:hover {
  background: #008dde;
}

#header #mainMenu > .menu > .item:hover .sub-menu {
  display: block;
}

#header #button-toggle-menu {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 15px;
  background: #007cc4;
  color: white;
  padding: 4px 10px 4px;
  cursor: pointer;
  font-size: 23px;
  -webkit-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.37);
  border: none;
}

@media screen and (max-width: 1024px) {
  #header #button-toggle-menu {
    display: block;
  }
}

main {
  display: block;
}

#footer {
  background: #c6d9f2;
}

#footer .inner {
  padding: 25px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer p {
  margin-bottom: 0;
}

.sec-note {
  padding: 50px 0;
}

.sec-heading {
  padding: 30px 0;
  background: #003d8e;
  background: -webkit-gradient(linear, left top, left bottom, from(#003d8e), to(#007cc4));
  background: -o-linear-gradient(top, #003d8e 0%, #007cc4 100%);
  background: linear-gradient(180deg, #003d8e 0%, #007cc4 100%);
  color: white;
}

.sec-heading.bg-gray {
  color: #363636;
}

.sec-heading.heading-02 {
  padding-bottom: 150px;
}

.sec-heading .inner {
  max-width: 1200px;
  position: relative;
}

.sec-heading .ttl {
  font-weight: 400;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .sec-heading .ttl {
    font-size: 20px;
  }
}

.sec-content {
  padding: 30px 0 50px;
  background: #f8f9fa;
}

.content-new {
  margin-top: -140px !important;
}

.content-new.active {
  margin-top: 95px !important;
}

.heading-fixd {
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  padding: 30px 0 150px;
}

.heading-fixd.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 15px 0;
}

.breadcrumb li a {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

section {
  position: relative;
}

a {
  color: #004a80;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
}

.inner {
  display: block;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}

.inner-1200 {
  max-width: 1200px;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.heading {
  display: block;
  font-size: 23px;
  margin-bottom: 15px;
  font-weight: 400;
  color: #363636;
}

.bg-01 {
  background: #4285f4 !important;
}

.bg-02 {
  background: #81adf8 !important;
}

.bg-03 {
  background: #a2c3fa !important;
}

.bg-gray {
  background: #ebebeb !important;
}

.bg-gren {
  background: #e2ecf7 !important;
}

.bg-line-yellow {
  background: #fffef2 !important;
}

.bg-blue {
  background: #007cc4 !important;
  color: white;
}

.bg-orther {
  background: #0060b1 !important;
}

.form-control {
  font-size: 16px;
  border: 1px solid #c2c2c2;
  height: 30px;
  padding: 0 6px;
  background-color: #f2faff;
}

.form-control.atm {
  background: #f2faff url(../img/index/atm.png) no-repeat;
  background-position: 10px 13px;
  padding-left: 40px;
}

@media screen and (max-width: 640px) {
  .form-control {
    height: 36px;
    font-size: 14px;
  }
}

.form-control.odd {
  border: none;
  background: #ebebeb !important;
  -webkit-box-shadow: 0 0 0 0 black;
          box-shadow: 0 0 0 0 black;
}

.form-control.none-border {
  border: none;
  background: none;
  -webkit-box-shadow: 0 0 0 0 black;
          box-shadow: 0 0 0 0 black;
}

select.form-control {
  background: url("../img/common/select.png") no-repeat;
  background-position: top right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.form-control::-ms-expand {
  display: none;
}

.btn {
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none !important;
  padding: 10px 20px;
  min-width: 200px;
  border-radius: 2px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  background: #ebebeb;
  background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#cfcccc));
  background: -o-linear-gradient(top, #ebebeb 0%, #cfcccc 100%);
  background: linear-gradient(180deg, #ebebeb 0%, #cfcccc 100%);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.36);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.36);
  color: #959595;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e5771e), to(#7d3511)) !important;
  background: -o-linear-gradient(top, #e5771e 0%, #7d3511 100%) !important;
  background: linear-gradient(180deg, #e5771e 0%, #7d3511 100%) !important;
  color: white !important;
}

@media screen and (max-width: 640px) {
  .btn {
    font-size: 17px;
    padding: 8px 10px;
    min-width: 50px;
    border-radius: 5px;
  }
}

.btn-blue {
  background: #007ebf !important;
  color: white !important;
}

.btn-orange {
  background: #f57f1f;
  background: -webkit-gradient(linear, left top, left bottom, from(#f57f1f), to(#c9561c));
  background: -o-linear-gradient(top, #f57f1f 0%, #c9561c 100%);
  background: linear-gradient(180deg, #f57f1f 0%, #c9561c 100%);
  color: white !important;
}

.btn-gray {
  background: #848484;
  background: -webkit-gradient(linear, left top, left bottom, from(#848484), to(#474747));
  background: -o-linear-gradient(top, #848484 0%, #474747 100%);
  background: linear-gradient(180deg, #848484 0%, #474747 100%);
  color: white !important;
}

.btn:hover {
  opacity: 1;
}

.btn-none {
  background: none;
  border-radius: 50%;
  min-width: 10px;
  padding: 0;
}

.btn-default {
  background: #007dbf;
  background: -webkit-gradient(linear, left top, right top, from(#007dbf), to(rgba(0, 95, 170, 0.490634)));
  background: -o-linear-gradient(left, #007dbf 0%, rgba(0, 95, 170, 0.490634) 100%);
  background: linear-gradient(90deg, #007dbf 0%, rgba(0, 95, 170, 0.490634) 100%);
  border-radius: 30px;
  color: white;
  border: 1px solid white;
}

.btn-default:hover {
  border: 1px solid transparent;
}

.dropdown-toggle {
  cursor: pointer;
}

.w100 {
  width: 100% !important;
}

.mw-600 {
  width: auto;
  max-width: 600px;
  margin: 0 auto;
}

.mw-100 {
  max-width: 100px;
}

.color-blue {
  color: #007cc4 !important;
}

.color-orange {
  color: #f26522 !important;
}

.color-red {
  color: red !important;
}

.color-gray {
  color: #959595 !important;
}

.breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0;
}

.breadcrumb li a {
  color: #6dcff6;
}

.pure-input input[type="checkbox"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.pure-input input[type="checkbox"] + label:after {
  background-color: transparent;
  top: 50%;
  left: 5px;
  width: 11px;
  height: 4px;
  margin-top: -7px;
  border-style: solid;
  border-color: #fff;
  border-width: 0 0 3px 3px;
  -o-border-image: none;
  border-image: none;
  -webkit-transform: rotate(-45deg) scale(0);
  -ms-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
}

.pure-input input[type="checkbox"]:checked + label:after {
  content: '';
  -webkit-transform: rotate(-45deg) scale(1);
      -ms-transform: rotate(-45deg) scale(1);
          transform: rotate(-45deg) scale(1);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -o-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.pure-input input[type="checkbox"]:checked + label:before {
  -webkit-animation: borderscale 200ms ease-in;
          animation: borderscale 200ms ease-in;
  background: #000;
}

.pure-input input[type="checkbox"]:checked + label + .check-note {
  display: block;
}

.pure-input input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.pure-input input[type="radio"] + label:after, .pure-input input[type="radio"] + label:before {
  border-radius: 50%;
}

.pure-input input[type="radio"] + label:after {
  left: 6px;
}

.pure-input input[type="radio"]:checked + label:before {
  -webkit-animation: borderscale 300ms ease-in;
          animation: borderscale 300ms ease-in;
  background-color: white;
}

.pure-input input[type="radio"]:checked + label:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  background: #464646;
}

.pure-input label {
  position: relative;
  padding: 0 0 0 30px;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  color: #464646;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .pure-input label {
    font-size: 16px;
  }
}

.pure-input label:before {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  content: '';
  color: #4F8196;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #c2c2c2;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 3px;
}

.pure-input label:after {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  content: '';
  background-color: #fff;
  position: absolute;
  top: 13px;
  left: 4px;
  width: 10px;
  height: 10px;
  margin-top: -7px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -o-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.btn-demo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none;
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  z-index: 9999;
}

@media screen and (max-width: 767px) {
  .btn-demo {
    width: 40px;
    height: 40px;
    right: 5px;
    bottom: 5px;
  }
}

.btn-demo.active {
  position: absolute;
  bottom: calc(100% + 10px);
}

.btn-demo i {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eeeeee;
  border-radius: 50%;
  color: #f58220;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-demo.close {
  opacity: 1;
}

.btn-demo.close img {
  opacity: 0;
  visibility: hidden;
}

.btn-demo.close i {
  opacity: 1;
  visibility: visible;
}

.custom-modal {
  bottom: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.custom-modal .modal-dialog {
  width: auto;
  max-width: 800px;
}

.custom-modal .modal-content {
  font-size: 16px;
  padding: 50px 0;
}

.custom-modal .modal-content .modal-title {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
  color: #363636;
}

.custom-modal .modal-content .close {
  position: absolute;
  top: -30px;
  right: 20px;
  font-size: 32px;
}

.custom-modal .modal-content .modal-header {
  position: relative;
  padding: 0 15px;
  border-bottom: none;
}

.custom-modal .modal-content .ttl {
  display: block;
  text-transform: uppercase;
  color: #363636;
  margin-bottom: 10px;
}

.custom-modal .modal-content p {
  color: #707070;
  margin-bottom: 15px;
}

.custom-modal .modal-content label {
  display: block;
  margin-bottom: 10px;
}

.custom-modal .modal-content .form-control {
  margin-bottom: 20px;
}

.custom-modal .modal-content .btn {
  width: 100%;
}

.custom-modal ul li {
  color: #464646;
  font-weight: 500;
  margin-bottom: 10px;
}

.custom-modal-02 {
  bottom: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.custom-modal-02 .modal-dialog {
  width: auto;
  max-width: 800px;
}

.custom-modal-02 .modal-body {
  padding: 0;
}

.custom-modal-02 .modal-content {
  font-size: 16px;
  border-radius: 5px;
  overflow: hidden;
}

.custom-modal-02 .modal-content .modal-title {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
  color: #363636;
}

.custom-modal-02 .modal-content .close {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 30px;
  color: #fdc689;
  opacity: 1;
}

.custom-modal-02 .modal-content .modal-header {
  position: relative;
  padding: 20px 100px;
  border-bottom: none;
  background: #007cc4;
  color: white;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .custom-modal-02 .modal-content .modal-header {
    padding: 10px 60px;
    font-size: 20px;
  }
}

.custom-modal-02 .modal-content .modal-header .ttl {
  position: relative;
}

.custom-modal-02 .modal-content .modal-header .ttl i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background: #0091e6;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  position: absolute;
  left: -50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.custom-modal-02 .modal-content .show-modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 605px;
  margin: 30px auto;
}

@media screen and (max-width: 767px) {
  .custom-modal-02 .modal-content .show-modal-body {
    margin: 0;
    padding: 15px;
  }
}

.custom-modal-02 .modal-content .show-modal-body .show-left {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .custom-modal-02 .modal-content .show-modal-body .show-left {
    width: 100%;
  }
}

.custom-modal-02 .modal-content .show-modal-body .show-left .row {
  margin-bottom: 15px;
}

.custom-modal-02 .modal-content .show-modal-body .show-right {
  width: 35%;
}

@media screen and (max-width: 767px) {
  .custom-modal-02 .modal-content .show-modal-body .show-right {
    width: 100%;
  }
}

.custom-modal-02 .modal-content .modal-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 605px;
  margin: 30px auto;
  min-height: 300px;
}

@media screen and (max-width: 767px) {
  .custom-modal-02 .modal-content .modal-status {
    margin: 0;
    padding: 15px;
  }
}

.custom-modal-02 .modal-content .modal-status .img {
  width: 27.5%;
}

.custom-modal-02 .modal-content .modal-status .txt {
  width: 72.5%;
  padding-left: 20px;
  color: #363636;
  font-size: 18px;
}

.custom-modal-02 .modal-content .modal-status .txt .ttl {
  display: block;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #007cc4;
  font-size: 16px;
}

.custom-modal-02 .modal-content .modal-status .txt .coppy {
  display: block;
  background: #fdf1e4;
  margin-bottom: 20px;
  word-break: break-all;
  padding: 5px 10px;
  position: relative;
}

.custom-modal-02 .modal-content .modal-status .txt .coppy .on-coppy {
  cursor: pointer;
  position: absolute;
  bottom: 100%;
  right: 0;
  background: #363636;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  display: none;
}

.custom-modal-02 .modal-content .modal-status .txt .coppy:hover .on-coppy {
  display: inline-block;
}

.custom-modal-02 .modal-content .modal-footer {
  background: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top: none;
  padding: 20px;
}

.custom-modal-02 .modal-content .modal-user {
  padding: 30px 50px;
  overflow: auto;
  max-height: 80vh;
}

@media screen and (max-width: 767px) {
  .custom-modal-02 .modal-content .modal-user {
    padding: 15px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row > div {
  position: relative;
}

@media screen and (max-width: 767px) {
  .row > div.col-xs-12 {
    margin-bottom: 20px;
  }
  .row > div.col-xs-12:last-child {
    margin-bottom: 0;
  }
}

.row-s {
  margin: 0 -7px;
}

.row-s .col-s {
  padding: 0 7px;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-modal-full {
  bottom: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.custom-modal-full .modal-dialog {
  margin: 0 auto;
  width: auto;
  max-width: 1700px;
}

.custom-modal-full .modal-header {
  position: relative;
}

.custom-modal-full .modal-header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1024px;
}

.custom-modal-full .modal-header .btn {
  font-size: 14px;
  padding: 5px 15px;
  -o-transition: ease 0s;
  -webkit-transition: ease 0s;
  transition: ease 0s;
}

.custom-modal-full .modal-header .close {
  margin-top: 0;
  font-size: 30px;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 640px) {
  .custom-modal-full .modal-header .close {
    top: 10px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.show-pdf {
  min-height: 50vh;
}

.show-pdf #fill-pdf {
  display: none;
  width: 100% !important;
  height: 85vh !important;
}

@media screen and (max-width: 767px) {
  .show-pdf #fill-pdf {
    height: 40vh !important;
  }
}

.note-block {
  font-size: 18px;
}

.note-block .ttl {
  display: block;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

@media screen and (max-width: 640px) {
  .note-block .ttl {
    font-size: 20px;
  }
}

.heading-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  background: #f7f7f7;
  padding: 15px 20px;
}

.heading-note-ttl {
  display: block;
  font-size: 14px;
  color: #707070;
}

.heading-note-ttl span {
  font-weight: 500;
}

.heading-note-status {
  display: block;
  padding: 7px 15px;
  font-size: 13px;
  font-weight: 500;
  color: #f7941d;
  background: #ffe6cc;
  border-radius: 20px;
}

.progressbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  min-height: 2px;
  margin-bottom: 20px;
}

.progressbar:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: #e1e1e1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.progressbar .item {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progressbar .item .dot {
  display: block;
  width: 20px;
  height: 20px;
  background: #e1e1e1;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.progressbar .item .dot span {
  min-width: 180px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.72);
  color: white;
  font-size: 13px;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  padding: 5px 10px;
  display: none;
}

.progressbar .item .dot:hover span {
  display: block;
}

.progressbar .item.step1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.progressbar .item.step1.finish:after {
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  background: #007cc4;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.progressbar .item.step2 {
  position: absolute;
  left: 0;
  right: 0;
  width: 20px;
  margin: 0 auto;
}

.progressbar .item.step3 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.progressbar .item.active .dot {
  background: #007cc4;
}

.progressbar .item.finish .dot {
  background: #8dc63f;
}

.content-block {
  background: #fff;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  position: relative;
}

.content-block .show {
  padding: 20px 20px 0;
}

.title1 {
  display: block;
  font-size: 24px;
  color: #464646;
  margin-bottom: 20px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .title1 {
    font-size: 20px;
  }
}

.check-note {
  padding: 10px 30px 0;
  display: none;
}

@media screen and (max-width: 767px) {
  .check-note {
    padding: 10px 0 0;
  }
}

.check-note small {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.pure-table {
  width: 100%;
}

.pure-table tr th, .pure-table tr td {
  font-size: 14px;
  padding: 5px;
  border: 1px solid #c2c2c2;
  text-align: center;
}

.pure-table tr th:nth-child(1), .pure-table tr td:nth-child(1) {
  width: 40px;
}

.pure-table tr th i, .pure-table tr td i {
  font-size: 18px;
  color: #f58220;
}

.pure-table tr th {
  font-weight: 500;
  text-transform: uppercase;
}

.pure-table tr:nth-child(odd) {
  background: #ebebeb;
}

.labelText1 {
  display: inline-block;
  color: #000000;
  margin-bottom: 5px;
  font-weight: 500;
}

.show-form {
  font-size: 16px;
}

.show-form .item {
  border-bottom: 2px solid #c6d9f0;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.show-form .item:last-child {
  border-bottom: none;
}

.show-form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

.show-form .row:last-child {
  margin-bottom: 0;
}

.show-form .row .row {
  margin: 0 -7px 20px;
}

.show-form .row .row div {
  padding: 0 7px;
}

@media screen and (max-width: 767px) {
  .show-form .row .row div.col-xs-12 {
    margin-bottom: 15px;
  }
  .show-form .row .row div.col-xs-12:last-child {
    margin-bottom: 0;
  }
}

.show-form-small {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
}

.show-form .system {
  padding: 30px 30px 50px 100px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .show-form .system {
    padding-left: 60px;
  }
}

.total-list {
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 25px;
  overflow: hidden;
}

.total-list .bg-gren {
  padding-bottom: 25px;
}

.total-list-heading {
  display: block;
  font-size: 24px;
  padding: 15px;
  background: #007cc4;
  color: white;
}

.total-list strong {
  font-weight: 500;
}

.total-list sup {
  font-size: 10px;
}

.total-list-show {
  padding: 15px;
}

.total-list-show table {
  width: 100%;
}

.total-list-show table tr td {
  padding: 10px 0;
}

.total-list-show table tr td:nth-child(2) {
  text-align: right;
}

.total-list-show table tr td:nth-child(2) strong {
  font-size: 18px;
}

.total-list-show table tr.all-total {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.total-list-show table tr.all-total td {
  padding: 15px 0;
}

.total-list-02 {
  border-radius: 0;
  margin: 0 -20px 0;
  padding: 0 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .total-list-02 {
    font-size: 14px;
    padding: 0 0 20px;
  }
}

.total-list-02 .total-list-show {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .total-list-02 .total-list-show {
    width: 100%;
    margin-bottom: 15px;
  }
}

.total-list-02 .total-list-number {
  width: 50%;
  padding-top: 15px;
}

.total-list-02 .total-list-number table {
  width: 100%;
}

.total-list-02 .total-list-number table tr th, .total-list-02 .total-list-number table tr td {
  border: 1px solid #ccc;
  padding: 5px;
  width: 45%;
}

.total-list-02 .total-list-number table tr th:nth-child(1), .total-list-02 .total-list-number table tr td:nth-child(1) {
  width: 10%;
  text-align: center;
}

.total-list-02 .total-list-number table tr th:nth-child(1) i, .total-list-02 .total-list-number table tr td:nth-child(1) i {
  opacity: 0;
  visibility: hidden;
  font-size: 18px;
  color: #f58220;
}

.total-list-02 .total-list-number table tr th {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.total-list-02 .total-list-number table tr td {
  padding: 2px 5px;
}

.total-list-02 .total-list-number table tr.active {
  background: #ebebeb;
}

.total-list-02 .total-list-number table tr.active th:nth-child(1) i, .total-list-02 .total-list-number table tr.active td:nth-child(1) i {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 767px) {
  .total-list-02 .total-list-number {
    width: 100%;
    margin-bottom: 15px;
  }
}

.total-list-02 .total-list-txt {
  width: 50%;
  padding: 15px;
}

@media screen and (max-width: 767px) {
  .total-list-02 .total-list-txt {
    width: 100%;
  }
}

.sub-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
  margin: 0 -20px;
}

@media screen and (max-width: 767px) {
  .sub-form {
    padding: 15px;
  }
}

.sub-form-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
}

.sub-form .btn {
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .sub-form .btn {
    margin-right: 7px;
  }
}

.sub-form .btn:last-child {
  margin-right: 0;
}

.note-suport {
  padding: 0 20px;
  font-size: 16px;
}

.note-suport .ttl {
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
}

.note-suport p {
  margin-bottom: 20px;
  font-weight: 500;
}

.note-suport p .phone {
  display: block;
  font-size: 24px;
  color: #898989;
}

.align-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.align-items .labelText1 {
  width: 50%;
  padding-right: 10px;
}

.align-items .form-control {
  width: 50%;
}

.show-location {
  background: #fff;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  padding: 20px;
}

.show-location .fill-orther {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 10px;
}

.show-location .fill-orther a {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  font-size: 20px;
  color: #959595;
}

.show-location .fill-orther a:last-child {
  margin-right: 0;
}

.show-location ul li {
  margin-bottom: 10px;
}

.show-location ul li:last-child {
  margin-bottom: 0;
}

.show-location ul li .ttl {
  display: block;
  text-transform: uppercase;
  color: #959595;
}

.show-txt .ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background: #ecfbff;
  margin-bottom: 10px;
}

.show-txt .ttl span {
  font-weight: 500;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .show-txt .ttl span {
    display: block;
    margin-bottom: 10px;
  }
}

.show-txt .ttl span i {
  color: #598527;
}

.show-txt .ttl a {
  font-size: 14px;
}

.detail-list {
  margin-bottom: 50px;
  font-weight: 500;
  color: #000000;
}

.detail-list span {
  color: #707070;
  font-weight: 400;
  display: inline-block;
  margin-right: 15px;
}

.note-detail {
  border-left: 5px solid #f58220;
  background: #f1f1f1;
  font-style: italic;
  padding: 15px;
  margin-bottom: 100px;
}

.note-detail p:last-child {
  margin-bottom: 0;
}

.show-step {
  background: #fff;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  padding: 20px;
}

.list-step {
  position: relative;
}

.list-step:before {
  content: "";
  width: 1px;
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 5px;
  background: #ebebeb;
}

.list-step li {
  position: relative;
  color: #959595;
  padding-left: 40px;
  margin-bottom: 15px;
  min-height: 44px;
  cursor: pointer;
}

.list-step li:last-child {
  min-height: 10px;
}

.list-step li span {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #959595;
  background: #ebebeb;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.list-step li.active {
  color: #363636;
}

.list-step li.active:before {
  content: "";
  width: 2px;
  background: #363636;
  position: absolute;
  left: 15px;
  bottom: 100%;
  height: 35px;
}

.list-step li.active span {
  background: #363636;
  color: white;
}

.list-step li:nth-child(1):before {
  display: none;
}

.note-status {
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: #fdc689;
  border: 2px solid #fdc689;
  padding: 10px 20px;
  border-radius: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .note-status {
    display: none;
  }
}

.popup-list {
  position: absolute;
  top: 90px;
  left: -60px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .popup-list {
    right: 10px;
    left: auto;
    top: 18px;
  }
}

.popup-list.active {
  position: fixed;
  left: auto;
  margin-left: -60px;
  top: 110px;
}

@media screen and (max-width: 767px) {
  .popup-list.active {
    margin-left: 0;
    top: 75px;
  }
}

.popup-list .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f6f6f6;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.popup-list .menu-list:hover, .popup-list .menu-list.active {
  background: #ed7e1f;
}

.popup-list .menu-list:hover i, .popup-list .menu-list.active i {
  color: white;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.popup-list .menu-list .fa-times {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-list .menu-list.active .fa-ellipsis-v {
  opacity: 0;
  visibility: hidden;
}

.popup-list .menu-list.active .fa-times {
  opacity: 1;
  visibility: visible;
}

.popup-list ul {
  border: 1px solid #ccc;
  width: 40px;
  border-radius: 40px;
  display: none;
}

.popup-list li {
  position: relative;
}

.popup-list li .note {
  position: absolute;
  left: calc(100% + 5px);
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  min-width: 100px;
  font-size: 14px;
  color: white;
  background: #50575b;
  padding: 8px 5px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.popup-list li a {
  display: block;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

.popup-list li a:hover {
  background: #ed7e1f;
}

.popup-list li a:hover i {
  color: white;
}

.popup-list li a:hover + .note {
  opacity: 1;
  visibility: visible;
}

.popup-list li:nth-child(1) a {
  padding-top: 20px;
  border-radius: 40px 40px 0 0;
}

.popup-list li:last-child a {
  padding-bottom: 10px;
  border-radius: 0 0 40px 40px;
}

.popup-list.popup-list-02 {
  left: auto !important;
  margin: 77px 0 0 30px;
}

@media screen and (max-width: 767px) {
  .popup-list.popup-list-02 {
    margin-left: 10px;
  }
}

.popup-list.popup-list-02.active {
  margin-top: 0;
}

.popup-list i {
  font-size: 23px;
  color: #959595;
}

.fixd-right {
  max-width: 296px;
}

@media screen and (max-width: 767px) {
  .fixd-right {
    max-width: 100%;
  }
}

.fixd-right.active {
  position: fixed;
  top: 23px;
}

.fixd-right.active2 {
  position: absolute;
  top: auto;
  bottom: 0;
}

.payments-block {
  background: white;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.17);
}

.payments-block .heading {
  display: block;
  font-size: 25px;
  padding: 15px 20px;
  background: #007cc4;
  color: white;
  font-weight: 400;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .payments-block .heading {
    font-size: 16px;
  }
}

.payments-block .sub-form {
  margin: 0;
}

.payments-show {
  border: 1px solid #ccc;
  padding: 40px;
}

@media screen and (max-width: 767px) {
  .payments-show {
    padding: 15px;
  }
}

.payments-note {
  position: relative;
  background: #dff7f6;
  padding: 15px 30px 15px 15px;
  margin-bottom: 30px;
}

.payments-note .close-payments {
  color: #ed1c24;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.payments-bar {
  padding: 100px 50px;
}

@media screen and (max-width: 767px) {
  .payments-bar {
    padding: 15px;
  }
}

.payments-bar p {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .payments-bar p {
    margin-bottom: 15px;
  }
}

.payments-bar .bar {
  width: 100%;
  height: 15px;
  background: #ebebeb;
  position: relative;
}

.payments-bar .bar span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #8dc63f;
}

.bill-block {
  padding: 40px 30px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .bill-block {
    padding: 15px;
  }
}

.bill-block table {
  width: 100%;
}

.bill-block table tr th, .bill-block table tr td {
  padding: 10px;
  vertical-align: top;
}

.bill-block table tr th {
  width: 200px;
}

@media screen and (max-width: 767px) {
  .bill-block table tr th {
    width: 100px;
  }
}

.payments-show {
  font-size: 16px;
}

.payments-show .item {
  margin-bottom: 40px;
}

.payments-show .item:last-child {
  margin-bottom: 0;
}

.payments-show .item .pure-input label {
  font-weight: 500;
  padding-left: 40px;
}

.payments-show .item .pure-input label img {
  margin-left: 20px;
}

.payments-show .payments-pure-input {
  padding: 20px 40px;
  display: none;
}

.payments-show .payments-pure-input .labelText1 {
  font-weight: 500;
}

.payments-show .payments-pure-input .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.payments-show .payments-pure-input .row:last-child {
  margin-bottom: 0;
}

.payments-show .payments-pure-input.payments-pure-hd {
  padding: 15px 20px 0;
}

.payments-show .show-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 600px;
  margin: 0 -10px;
}

.payments-show .show-card li {
  width: 33.333%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.payments-show .show-card li span {
  display: block;
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
}

.payments-show .show-card li.active span {
  border: 1px solid #007cc4;
}

.pure-input input[type="radio"]:checked + label + .payments-pure-input {
  display: block;
}

.list-botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.list-botton li {
  width: 33.333%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.list-botton li .btn {
  width: 100%;
  min-width: 10px;
  font-size: 16px;
  color: #004a80;
}

.table-list {
  width: 100%;
  font-size: 16px;
}

.table-list thead tr {
  background: #f7f7f7;
}

.table-list thead tr th {
  border-top: none;
  padding: 10px 20px;
}

.table-list tr {
  cursor: pointer;
}

.table-list tr th, .table-list tr td {
  border: 1px solid #ccc;
}

.table-list tr td {
  padding: 5px 10px;
}

.table-list tr td:nth-child(1) {
  padding-left: 8px;
}

.table-list tr td:nth-child(1) i {
  margin-right: 5px;
  color: red;
  opacity: 0;
}

.table-list tr.active, .table-list tr:hover {
  background: #e2ecf7;
}

.table-list tr.active td i, .table-list tr:hover td i {
  opacity: 1;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.dots li {
  margin-right: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}

.dots li:last-child {
  margin-right: 0;
}

.dots li.past {
  background: #f79542;
}

.dots li.active {
  width: 50px;
  background: #f79542;
  border-radius: 10px;
}

.code-user {
  padding: 50px;
}

@media screen and (max-width: 767px) {
  .code-user {
    padding: 15px;
  }
}

.code-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 -15px 30px;
}

.code-block .items {
  width: 29%;
  padding: 0 15px;
}

@media screen and (max-width: 767px) {
  .code-block .items {
    width: 100%;
    margin-bottom: 15px;
  }
  .code-block .items:last-child {
    margin-bottom: 0;
  }
}

.code-block .items-orther {
  width: 13%;
}

@media screen and (max-width: 767px) {
  .code-block .items-orther {
    width: 100%;
    padding: 0 15px;
  }
}

.table-user {
  width: 100%;
}

.table-user tr th, .table-user tr td {
  border: 1px solid #c2c2c2;
}

.table-user tr th {
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px;
  background: #f7f7f7;
  border-top: none;
}

.table-user tr th:nth-child(1) {
  padding-left: 40px;
}

.table-user tr td {
  padding: 5px 15px;
}

.table-user tr td i {
  color: red;
  margin-right: 5px;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.table-user tr:nth-child(even) {
  background: #f7f7f7;
}

.table-user tr:hover, .table-user tr.active {
  cursor: pointer;
  background: #ebf1f7;
}

.table-user tr:hover td i, .table-user tr.active td i {
  opacity: 1;
}

.sub-form-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sub-form-user .btn {
  margin-right: 10px;
}

.sub-form-user .btn:last-child {
  margin-right: 0;
}

.change {
  position: relative;
}

.fill {
  width: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.error {
  display: block;
  position: absolute;
  bottom: -20px;
  font-size: 12px;
}

.table-code {
  width: 100%;
  margin-bottom: 20px;
}

.table-code tr {
  border-bottom: 1px solid #ccc;
}

.table-code tr:nth-child(odd) {
  background: #f7f7f7;
}

.table-code tr th, .table-code tr td {
  padding: 5px 10px;
  text-align: center;
}

.table-code tr th .color-red, .table-code tr td .color-red {
  font-size: 20px;
  font-weight: 500;
}

.table-code tr th:nth-child(1), .table-code tr td:nth-child(1) {
  text-align: left;
}

.table-code tr th {
  background: #007cc4;
  color: white;
  text-transform: uppercase;
}

.note-page {
  background: black;
  border: 2px solid white;
  position: fixed;
  top: 100px;
  right: 15px;
  color: white;
  border-radius: 10px;
  padding: 30px 40px 30px 30px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .note-page {
    display: none;
  }
}

.note-page.active {
  display: none;
}

.note-page p {
  margin-bottom: 15px;
}

.note-page p:last-child {
  margin-bottom: 0;
}

.note-page p a {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  border: 1px solid red;
  padding: 10px 15px;
  border-radius: 10px;
}

.note-page .close-note-page {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 23px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .user-scroll {
    overflow-x: scroll;
  }
  .user-scroll .table-user {
    width: 767px;
  }
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content-img {
  display: none;
}

.tab-content-img.active {
  display: block;
}

.fill-heading {
  position: fixed;
  bottom: 100%;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#003d8e), to(#007cc4));
  background: -o-linear-gradient(top, #003d8e 0%, #007cc4 100%);
  background: linear-gradient(180deg, #003d8e 0%, #007cc4 100%);
  color: white;
  z-index: 999;
  padding: 10px 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.fill-heading.none {
  bottom: 100% !important;
}

.fill-heading.active {
  bottom: calc(100% - 91px);
}

.fill-heading .fill-heading {
  display: none;
}

@media screen and (max-width: 1024px) {
  .fill-heading {
    display: none !important;
  }
}

@media screen and (min-width: 1025px) {
  .fixd-right .total-list.active {
    position: fixed;
    top: 0;
    min-width: 297px;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  .fixd-right .total-list.active.active2 {
    top: 92px;
  }
}

.search-block {
  font-size: 16px;
  color: white;
  margin-top: 50px;
}

.search-block .control-label {
  display: block;
  color: #d1dad9;
  margin-bottom: 7px;
  text-transform: uppercase;
  font-weight: 500;
}

.search-block .form-control {
  background: none;
  color: white;
  height: 35px;
}

.search-block .form-control.bg-calendar {
  background: transparent url("../img/common/bg-calendar.png") no-repeat;
  background-position: center right;
}

.search-block select.form-control {
  border: 2px solid transparent;
  background: transparent url("../img/common/select-03.png") no-repeat;
  background-position: center right;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.search-block select.form-control option {
  color: #333;
}

.search-block .row .col-xs-12 {
  margin-bottom: 0;
}

.search-block .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.search-block .d-flex .col-xs-12 {
  padding: 15px 10px 5px;
  background: #529fcc;
  border: 1px solid #005aa7;
  border-right: none;
  border-top: none;
}

.search-block .d-flex .col-xs-12:nth-child(1), .search-block .d-flex .col-xs-12:nth-child(5), .search-block .d-flex .col-xs-12:nth-child(8) {
  border-left: none;
}

@media screen and (max-width: 767px) {
  .search-block .d-flex .col-xs-12 {
    border: none;
    border-bottom: 1px solid #005aa7;
  }
}

.search-block .d-flex .col-xs-12.d-flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 40px;
}

.list-button li {
  margin: 0 10px;
}

.list-button li .btn {
  font-weight: 500;
  font-size: 14px;
  color: #004a80;
  min-width: 100px;
  text-shadow: 1px 2px 2px white;
}

.show-serach {
  background: white;
  -webkit-box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.26);
  padding: 15px;
  border-radius: 5px;
  max-width: 1170px;
  margin: -180px auto 80px;
}

@media screen and (max-width: 767px) {
  .show-serach {
    overflow-x: scroll;
  }
}

.show-serach .ttl {
  display: block;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 400;
}

.show-serach .gridX {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .show-serach .gridX {
    width: 800px;
  }
}

.show-serach .gridX tr {
  cursor: pointer;
}

.show-serach .gridX tr th, .show-serach .gridX tr td {
  position: relative;
}

.show-serach .gridX tr th:nth-child(1), .show-serach .gridX tr td:nth-child(1) {
  width: 4%;
}

.show-serach .gridX tr th:nth-child(1) i, .show-serach .gridX tr td:nth-child(1) i {
  opacity: 0;
}

.show-serach .gridX tr th:nth-child(2), .show-serach .gridX tr td:nth-child(2) {
  width: 10%;
}

.show-serach .gridX tr th:nth-child(3), .show-serach .gridX tr td:nth-child(3) {
  width: 18%;
}

.show-serach .gridX tr th:nth-child(4), .show-serach .gridX tr td:nth-child(4) {
  width: 20%;
}

.show-serach .gridX tr th:nth-child(5), .show-serach .gridX tr td:nth-child(5) {
  width: 10%;
}

.show-serach .gridX tr th:nth-child(6), .show-serach .gridX tr td:nth-child(6) {
  width: 10%;
  text-align: right;
}

.show-serach .gridX tr th:nth-child(7), .show-serach .gridX tr td:nth-child(7) {
  width: 10%;
}

.show-serach .gridX tr th:nth-child(8), .show-serach .gridX tr td:nth-child(8) {
  width: 10%;
}

.show-serach .gridX tr th nobr a, .show-serach .gridX tr td nobr a {
  display: inline-block;
}

.show-serach .gridX tr th nobr a i, .show-serach .gridX tr td nobr a i {
  margin-right: 3px;
}

.show-serach .gridX tr th .check, .show-serach .gridX tr td .check {
  width: 17px;
  height: 17px;
  background: url(../img/common/check-01.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 26px;
  left: 25px;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .show-serach .gridX tr th .check, .show-serach .gridX tr td .check {
    left: 5px;
    top: 10px;
  }
}

.show-serach .gridX tr th {
  padding: 15px 10px;
  text-transform: uppercase;
  font-weight: 500;
  background: #f7f7f7;
  border-top: none;
  border-bottom: 2px solid #c2c2c2;
}

.show-serach .gridX tr th .check {
  top: 17px;
}

@media screen and (max-width: 767px) {
  .show-serach .gridX tr th {
    padding: 10px 5px;
  }
  .show-serach .gridX tr th .check {
    top: 19px;
  }
}

.show-serach .gridX tr td {
  padding: 15px 10px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .show-serach .gridX tr td {
    padding: 10px 5px;
  }
}

.show-serach .gridX tr td .show-menu-item {
  position: relative;
  text-align: center;
}

.show-serach .gridX tr td .show-menu-item .open-show {
  color: #ccc;
  font-size: 30px;
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.show-serach .gridX tr td .show-menu-item .open-show:hover {
  color: #fd7e14;
}

.show-serach .gridX tr td .show-menu-item .open-show .fa-times {
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  bottom: 4px;
  opacity: 0;
  visibility: hidden;
  color: #fd7e14;
}

.show-serach .gridX tr td .show-menu-item .open-show.active .fa-ellipsis-h {
  opacity: 0;
  visibility: hidden;
}

.show-serach .gridX tr td .show-menu-item .open-show.active .fa-times {
  opacity: 1;
  visibility: visible;
}

.show-serach .gridX tr td .show-menu-item .show-serach-item {
  text-align: left;
  position: absolute;
  top: calc(100% + 5px);
  left: auto;
  right: 20px;
  min-width: 200px;
  border-radius: 10px;
  background: white;
  padding: 20px;
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.15);
  z-index: 1;
  border: none;
}

.show-serach .gridX tr td .show-menu-item .show-serach-item:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: 100%;
  right: 15px;
  border-left: solid 11px transparent;
  border-right: solid 11px transparent;
  border-bottom: solid 11px white;
}

.show-serach .gridX tr td .show-menu-item .show-serach-item li {
  margin-bottom: 15px;
}

.show-serach .gridX tr td .show-menu-item .show-serach-item li:last-child {
  margin-bottom: 0;
}

.show-serach .gridX tr td .show-menu-item .show-serach-item li a {
  color: #959595;
  font-size: 16px;
}

.show-serach .gridX tr td .show-menu-item .show-serach-item li a i {
  margin-right: 12px;
  width: 20px;
  text-align: center;
}

.show-serach .gridX tr td .show-menu-item .show-serach-item li:hover a {
  color: #337ab7 !important;
}

.show-serach .gridX tr td .show-menu-item .show-serach-item li:hover a i {
  color: #337ab7 !important;
}

.show-serach .gridX tr td .fill-txt {
  position: relative;
}

.show-serach .gridX tr td .fill-txt .fill-txt-note {
  position: absolute;
  bottom: calc(100% + 5px);
  left: 0;
  min-width: 300px;
  background: rgba(0, 0, 0, 0.56);
  color: white;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

@media screen and (max-width: 767px) {
  .show-serach .gridX tr td .fill-txt .fill-txt-note {
    display: none;
  }
}

.show-serach .gridX tr td .fill-txt .fill-txt-odd {
  white-space: nowrap;
}

.show-serach .gridX tr td .fill-txt .fill-txt-odd:hover + .fill-txt-note {
  opacity: 1;
  visibility: visible;
}

.show-serach .gridX tr:nth-child(even) {
  background: #f7f7f7;
}

.show-serach .gridX tr:hover, .show-serach .gridX tr.active {
  background: #ebf1f7;
}

.show-serach .gridX tr:hover th i, .show-serach .gridX tr:hover td i, .show-serach .gridX tr.active th i, .show-serach .gridX tr.active td i {
  opacity: 1;
}

.show-serach .gridX tr:hover th .show-serach-item, .show-serach .gridX tr:hover td .show-serach-item, .show-serach .gridX tr.active th .show-serach-item, .show-serach .gridX tr.active td .show-serach-item {
  opacity: 1;
  visibility: visible;
}

.show-serach .gridX tr:hover th .check, .show-serach .gridX tr:hover td .check, .show-serach .gridX tr.active th .check, .show-serach .gridX tr.active td .check {
  background: url(../img/common/check-02.png) no-repeat;
  background-size: 100%;
}

.show-serach .gridX tr:hover th:nth-child(1) i, .show-serach .gridX tr:hover td:nth-child(1) i, .show-serach .gridX tr.active th:nth-child(1) i, .show-serach .gridX tr.active td:nth-child(1) i {
  color: #fd7e14;
}

.hidden-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 14px;
  color: #e1e1e1;
  margin: 15px 0 0;
}

.hidden-block span {
  cursor: pointer;
}

.hidden-block i {
  margin-right: 10px;
}

.btn-item {
  display: inline-block;
  margin-right: 15px;
  border: none;
  background: none;
  outline: none !important;
}

.sec-dashboard {
  padding: 50px 0;
  background: #ebebeb;
}

.sec-dashboard .inner {
  max-width: 1170px;
}

.dashboard-item {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  border-radius: 5px;
  min-height: 100px;
  padding: 10px 15px;
}

.dashboard-item strong {
  display: block;
  font-size: 22px;
}

.recently {
  background: white;
  margin-top: 30px;
  padding: 20px;
}

.recently-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 640px) {
  .recently-note {
    margin-bottom: 15px;
  }
}

.recently-note li {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recently-note li span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 7px;
}

.recently-note li:last-child {
  margin-right: 0;
}

.recently-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recently-time .recently-time-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recently-time .recently-time-list + .recently-time-list {
  margin: 0 15px;
}

.recently-time-option a {
  font-size: 20px;
  display: inline-block;
  margin-right: 7px;
  color: #bababa;
}

.recently-time-option a:last-child {
  margin-right: 0;
}

.item-btn {
  display: block;
  border: 1px solid #ccc;
  color: #272727;
  border-right: none;
  padding: 4px 10px;
  font-weight: 500;
}

@media screen and (max-width: 640px) {
  .item-btn {
    padding: 4px;
  }
}

.item-btn:last-child {
  border-right: 1px solid #ccc;
}

.item-btn.active, .item-btn:hover {
  opacity: 1;
  background: #e3e3e3;
  color: #272727;
}

.table-list-02 .dataTables_length, .table-list-02 #DataTables_Table_0_filter, .table-list-02 .dataTables_filter, .table-list-02 #DataTables_Table_0_info, .table-list-02 .dataTables_info {
  display: none !important;
}

.table-list-02 table {
  width: 100%;
}

.table-list-02 table tr td, .table-list-02 table tr th {
  padding: 10px 15px;
  font-size: 14px;
}

@media screen and (max-width: 640px) {
  .table-list-02 table tr td, .table-list-02 table tr th {
    font-size: 12px;
    padding: 5px;
  }
}

.table-list-02 table tr td .lv {
  display: block;
  cursor: pointer;
  position: relative;
  padding-right: 10px;
}

.table-list-02 table tr td .lv:after {
  content: "\f00c";
  font-family: "Font Awesome 5 Pro";
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 20px;
  display: none;
}

.table-list-02 table tr td .lv.lv2 {
  color: #fcbb72;
}

.table-list-02 table tr td .lv.lv2:after {
  content: "\f06e";
}

.table-list-02 table tr td .lv.lv3 {
  color: red;
}

.table-list-02 table tr td .lv.lv3:after {
  content: "";
}

.table-list-02 table tr td .icon {
  display: none;
  margin-right: 15px;
  font-size: 20px;
}

.table-list-02 table tr td .icon:last-child {
  margin-right: 0;
}

.table-list-02 table tr td .contract-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #363636;
}

.table-list-02 table tr td .contract-name .fa {
  width: 27px;
  height: 27px;
  background: #ccc;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 7px;
}

.table-list-02 table tr:hover {
  background: #e2ecf7;
}

.table-list-02 table tr:hover td .lv:after {
  display: block;
}

.table-list-02 table tr:hover td .icon {
  display: inline-block;
}

.table-list-02 table thead tr th {
  border-bottom: 1px solid #ccc;
}

.table-list-02 table tbody tr:nth-child(even) {
  background: #f5f5f5;
}

.table-list-02 .table-02 tr td {
  padding: 5px 15px;
}

@media screen and (max-width: 640px) {
  .table-list-02 .table-02 tr td {
    padding: 5px;
  }
}

.table-list-02 .example-02 tr th, .table-list-02 .example-02 tr td {
  width: 29%;
}

.table-list-02 .example-02 tr th:nth-child(4), .table-list-02 .example-02 tr td:nth-child(4) {
  width: 13%;
  padding: 0 10px 0 0;
}

.contract-item {
  padding-bottom: 10px;
}

.contract-item li {
  padding: 0 15px 15px;
}

.contract-item li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contract-item li a .fa {
  width: 27px;
  height: 27px;
  background: #ccc;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 7px;
  color: #363636;
}

.contract-item li a .ttl small {
  display: block;
  font-size: 13px;
  color: #959595;
}

.main-chart {
  margin-bottom: 30px;
}

.contract-block {
  background: white;
  margin-bottom: 30px;
}

.contract-block .heading {
  padding: 15px 15px 0;
}

.main-chart {
  background: white;
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 0), -o-linear-gradient(#ccc 1px, transparent 0);
  background-image: linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 0), linear-gradient(#ccc 1px, transparent 0);
  background-size: 15px 15px, 15px 15px;
}

.main-chart .list-chart {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -7px;
}

@media screen and (max-width: 640px) {
  .main-chart .list-chart {
    margin: 0 -0.3vw;
  }
}

.main-chart .list-chart li {
  padding: 0 7px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 640px) {
  .main-chart .list-chart li {
    padding: 0 0.3vw;
  }
}

.main-chart .list-chart li span {
  display: block;
  background: #007cc4;
  position: absolute;
  bottom: 0;
  left: 7px;
  right: 7px;
}

@media screen and (max-width: 640px) {
  .main-chart .list-chart li span {
    left: 0.3vw;
    right: 0.3vw;
  }
}

/*# sourceMappingURL=maps/styles.css.map */
