.sec {
	&-dashboard {
		padding: 50px 0;
      background: #ebebeb;
		.inner{
			max-width: 1170px;
		}
	}
}
.dashboard{
    &-heading{

    }
	&-item{
		background: white;
		display: flex;
		justify-content: space-between;
		text-align: right;
		align-items: center;
		@include font-size(16);
		border-radius: 5px;
		min-height: 100px;
		padding: 10px 15px;
		strong{
			display: block;
			@include font-size(22);
		}
	}
}

.recently{
	background: white;
	margin-top: 30px;
	padding: 20px;
}
.recently-note{
	display: flex;
	@include mq(sm){
		margin-bottom: 15px;
	}
	li{
		margin-right: 20px;
		display: flex;
		align-items: center;
		span{
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			margin-right: 7px;
		}
		&:last-child{
			margin-right: 0;
		}
	}
}
.recently-time{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	.recently-time-list{
		display: flex;
		align-items: center;
		& +.recently-time-list{
			margin: 0 15px;
		}
	}
}
.recently-time-option{
	a{
		@include font-size(20);
		display: inline-block;
		margin-right: 7px;
		color: #bababa;
		&:last-child{
			margin-right: 0;
		}
	}
}
.item-btn{
	display: block;
	border: 1px solid #ccc;
	color: #272727;
	border-right: none;
	padding: 4px 10px;
	font-weight: 500;
	@include mq(sm){
		padding: 4px;
	}
	&:last-child{
		border-right: 1px solid #ccc;
	}
	&.active,&:hover{
		opacity: 1;
		background: #e3e3e3;
		color: #272727;
	}
}
.table-list-02{
	.dataTables_length,#DataTables_Table_0_filter,.dataTables_filter,#DataTables_Table_0_info,.dataTables_info{
		display: none !important;
	}
	table{
		width: 100%;
		tr{
			td,th{
				padding: 10px 15px;
				@include font-size(14);
				@include mq(sm){
					@include font-size(12);
					padding: 5px;
				}
			}
			td{
				.lv{
					display: block;
					cursor: pointer;
					position: relative;
					padding-right: 10px;
					&:after{
						content: "\f00c";
						font-family: "Font Awesome 5 Pro";
						font-weight: bold;
						font-size: 14px;
						position: absolute;
						right: 0;
						top: 50%;
						-webkit-transform: translate(0, -50%);
						-ms-transform: translate(0, -50%);
						transform: translate(0, -50%);
						@include font-size(20);
						display: none;
					}
					&.lv2{
						color: #fcbb72;
						&:after{
							content: "\f06e";
						}
					}
					&.lv3{
						color: red;
						&:after{
							content: "";
						}
					}
				}

				.icon {
					display: none;
					margin-right: 15px;
					@include font-size(20);
					&:last-child{
						margin-right: 0;
					}
				}
				.contract-name{
					display: flex;
					align-items: center;
					color: #363636;
					.fa{
						width: 27px;
						height: 27px;
						background: #ccc;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-right: 7px;
					}
				}
			}
			&:hover{
				background: #e2ecf7;
				td{
					.lv{
						&:after{
							display: block;
						}
					}
					.icon{
						display: inline-block;
					}
				}
			}
		}
		thead {
			tr{
				th{
					border-bottom: 1px solid #ccc;
				}
			}
		}
		tbody{
			tr{
				&:nth-child(even){
					background: #f5f5f5;
				}
			}
		}
	}
	.table-02{
		tr{
			td{
				padding: 5px 15px;
				@include mq(sm){
					padding: 5px;
				}
			}
		}
	}
	.example{
		&-02{
			tr{
				th,td{
					width: 29%;
					&:nth-child(4){
						width: 13%;
						padding: 0 10px 0 0;
					}
				}
			}
		}
	}
}
.contract-item{
	padding-bottom: 10px;
	li{
		padding: 0 15px 15px;
		a{
			display: flex;
			align-items: center;
			.fa{
				width: 27px;
				height: 27px;
				background: #ccc;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: 7px;
				color: #363636;
			}
			.ttl{
				small{
					display: block;
					@include font-size(13);
					color: #959595;
				}
			}
		}
	}
}
.main-chart {
	margin-bottom: 30px;
}
.contract-block {
	background: white;
	margin-bottom: 30px;
	.heading {
		padding: 15px 15px 0;
	}
}

.main-chart{
	background: white;
	background-image: linear-gradient(rgba(255,255,255,.3) 1px, transparent 0), linear-gradient(#ccc 1px, transparent 0);
	background-size: 15px 15px, 15px 15px;
	.list-chart{
		height: 300px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 -7px;
		@include mq(sm){
			margin: 0 -0.3vw;
		}
		li{
			padding: 0 7px;
			position: relative;
			flex-grow: 1;
			@include mq(sm){
				padding: 0 0.3vw;
			}
			span{
				display: block;
				background: #007cc4;
				position: absolute;
				bottom: 0;
				left: 7px;
				right: 7px;
				@include mq(sm){
					left: 0.3vw;
					right: 0.3vw;
				}
			}
		}
	}
}
