.note-block{
	@include font-size(18);
	.ttl {
		display: block;
		@include font-size(28);
		text-transform: uppercase;
		margin-bottom: 15px;
		@include mq(sm) {
			@include font-size(20);
		}
	}
}
.heading-note{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	background: #f7f7f7;
	padding: 15px 20px;
	&-ttl{
		display: block;
		@include font-size(14);
		color: #707070;
		span{
			font-weight: 500;
		}
	}
	&-status{
		display: block;
		padding: 7px 15px;
		@include font-size(13);
		font-weight: 500;
		color: #f7941d;
		background: #ffe6cc;
		border-radius: 20px;
	}
}
.progressbar{
	display: flex;
	justify-content: space-between;
	position: relative;
	min-height: 2px;
	margin-bottom: 20px;
	&:after{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		height: 2px;
		background: #e1e1e1;
		@include v-align;
	}
	.item{
		width: 50%;
		position: relative;
		display: flex;
		.dot{
			display: block;
			width: 20px;
			height: 20px;
			background: #e1e1e1;
			border-radius: 50%;
			cursor: pointer;
			position: relative;
			z-index: 3;
			span{
				min-width: 180px;
				border-radius: 5px;
				background: rgba(0, 0, 0, 0.72);
				color: white;
				font-size: 13px;
				position: absolute;
				bottom: calc(100% + 10px);
				left: 50%;
				padding: 5px 10px;
				display: none;
			}
			&:hover{
				span{
					display: block;
				}
			}
		}
		&.step1{
			justify-content: flex-start;
			&.finish{
				&:after{
					content: "";
					height: 2px;
					position: absolute;
					left: 0;
					right: 0;
					background: #007cc4;
					@include v-align;
					z-index: 1;
				}
			}
		}
		&.step2{
			position: absolute;
			left: 0;
			right: 0;
			width: 20px;
			margin: 0 auto;
		}
		&.step3{
			justify-content: flex-end;
		}
		&.active{
			.dot{
				background: #007cc4;
			}
		}
		&.finish{
			.dot{
				background: #8dc63f;
			}
		}
	}
}
.content-block{
	background: #fff;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.26);
	border-radius: 5px;
	position: relative;
	.show{
		padding: 20px 20px 0;
	}
}
.title1{
	display: block;
	@include font-size(24);
	color: #464646;
	margin-bottom: 20px;
	font-weight: 400;
	@include mq(){
		@include font-size(20);
	}
}
.check-note{
	padding: 10px 30px 0;
	display: none;
	@include mq(){
		padding: 10px 0 0;
	}
	small{
		display: block;
		@include font-size(14);
		margin-bottom: 10px;
	}
}
.pure-table{
	width: 100%;
	tr{
		th,td{
			@include font-size(14);
			padding: 5px;
			border: 1px solid #c2c2c2;
			text-align: center;
			&:nth-child(1){
				width: 40px;
			}
			i{
				@include font-size(18);
				color: #f58220;
			}
		}
		th{
			font-weight: 500;
			text-transform: uppercase;
		}
		&:nth-child(odd){
			background: #ebebeb;
		}
	}
}
.labelText1{
	display: inline-block;
	color: #000000;
	margin-bottom: 5px;
	font-weight: 500;
}
.show-form{
	@include font-size(16);
	.item{
		border-bottom: 2px solid #c6d9f0;
		padding-bottom: 25px;
		margin-bottom: 25px;
		&:last-child{
			border-bottom: none;
		}
	}
	.row{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
		.row{
			margin: 0 -7px 20px;
			div{
				padding: 0 7px;
				@include mq(){
					&.col-xs-12{
						margin-bottom: 15px;
						&:last-child{
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
	&-small{
		background: white;
		padding: 15px;
		margin-bottom: 15px;
	}
	.system{
		padding: 30px 30px 50px 100px;
		align-items: flex-start;
		@include mq(){
			padding-left: 60px;
		}
	}
}

.total-list{
	@include font-size(14);
	border-radius: 5px;
	margin-bottom: 25px;
	overflow: hidden;
	.bg-gren{
		padding-bottom: 25px;
	}
	&-heading{
		display: block;
		@include font-size(24);
		padding: 15px;
		background: #007cc4;
		color: white;
	}
	strong{
		font-weight: 500;
	}
	sup{
		@include font-size(10);
	}
	&-show{
		padding: 15px;
		table{
			width: 100%;
			tr{
				td{
					padding: 10px 0;
					&:nth-child(2){
						text-align: right;
						strong{
							@include font-size(18);
						}
					}
				}
				&.all-total{
					border-top: 1px solid white;
					border-bottom: 1px solid white;
					td{
						padding: 15px 0;
					}
				}
			}
		}
	}
	&-02{
		border-radius: 0;
		margin: 0 -20px 0;
		padding: 0 20px 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		@include font-size(16);
		@include mq(){
			@include font-size(14);
			padding: 0 0 20px;
		}
		.total-list-show{
			width: 50%;
			@include mq(){
				width: 100%;
				margin-bottom: 15px;
			}
		}
		.total-list-number{
			width: 50%;
			padding-top: 15px;
			table{
				width: 100%;
				tr{
					th,td{
						border: 1px solid #ccc;
						padding: 5px;
						width: 45%;
						&:nth-child(1){
							width: 10%;
							text-align: center;
							i{
								opacity: 0;
								visibility: hidden;
								font-size: 18px;
								color: #f58220;
							}
						}
					}
					th{
						font-weight: 500;
						text-transform: uppercase;
						text-align: center;
					}
					td{
						padding: 2px 5px;
					}
					&.active{
						background: #ebebeb;
						th,td{
							&:nth-child(1){
								i{
									opacity: 1;
									visibility: visible;
								}
							}
						}
					}
				}
			}
			@include mq(){
				width: 100%;
				margin-bottom: 15px;
			}
		}
		.total-list-txt{
			width: 50%;
			padding: 15px;
			@include mq(){
				width: 100%;
			}
		}
	}
}
.sub-form{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 20px;
	margin: 0 -20px;
	@include mq(){
		padding: 15px;
	}
	&-left{
		justify-content: flex-start;
		padding: 0;
	}
	.btn{
		margin-right: 15px;
		@include mq(){
			margin-right: 7px;
		}
		&:last-child{
			margin-right: 0;
		}
	}
}
.note-suport{
	padding: 0 20px;
	@include font-size(16);
	.ttl{
		display: block;
		@include font-size(24);
		margin-bottom: 20px;
	}
	p{
		margin-bottom: 20px;
		font-weight: 500;
		.phone{
			display: block;
			@include font-size(24);
			color: #898989;
		}
	}
}
.align-items{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 20px;
	.labelText1{
		width: 50%;
		padding-right: 10px;
	}
	.form-control{
		width: 50%;
	}
}
.show-location{
	background: #fff;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.26);
	border-radius: 5px;
	padding: 20px;
	.fill-orther{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 10px;
		a{
			display: inline-block;
			margin-right: 20px;
			cursor: pointer;
			font-size: 20px;
			color: #959595;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	ul{
		li{
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0;
			}
			.ttl{
				display: block;
				text-transform: uppercase;
				color: #959595;
			}
		}
	}
}
.show-txt{
	.ttl{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		padding: 10px;
		background: #ecfbff;
		margin-bottom: 10px;
		span{
			font-weight: 500;
			font-size: 18px;
			@include mq(){
				display: block;
				margin-bottom: 10px;
			}
			i{
				color: #598527;
			}
		}
		a{
			font-size: 14px;
		}
	}
}
.detail-list{
	margin-bottom: 50px;
	font-weight: 500;
	color: #000000;
	span{
		color: #707070;
		font-weight: 400;
		display: inline-block;
		margin-right: 15px;
	}
}
.note-detail{
	border-left: 5px solid #f58220;
	background: #f1f1f1;
	font-style: italic;
	padding: 15px;
	margin-bottom: 100px;
	p{
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.show-step{
	background: #fff;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.26);
	border-radius: 5px;
	padding: 20px;
}
.list-step{
	position: relative;
	&:before{
		content: "";
		width: 1px;
		position: absolute;
		top: 0;
		left: 15px;
		bottom: 5px;
		background: #ebebeb;
	}
	li{
		position: relative;
		color: #959595;
		padding-left: 40px;
		margin-bottom: 15px;
		min-height: 44px;
		cursor: pointer;
		&:last-child{
			min-height: 10px;
		}
		span{
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #959595;
			background: #ebebeb;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
		}
		&.active{
			color: #363636;
			&:before{
				content: "";
				width: 2px;
				background: #363636;
				position: absolute;
				left: 15px;
				bottom: 100%;
				height: 35px;
			}
			span{
				background: #363636;
				color: white;
			}
		}
		&:nth-child(1){
			&:before{
				display: none;
			}
		}
	}
}

.note-status{
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	color: #fdc689;
	border: 2px solid #fdc689;
	padding: 10px 20px;
	border-radius: 20px;
	position: absolute;
	right: 15px;
	@include v-align;
	@include mq(){
		display: none;
	}
}

.popup-list{
	position: absolute;
	top: 90px;
	left: -60px;
	z-index: 1;
	@include mq(){
		right: 10px;
		left: auto;
		top: 18px;
	}
	&.active{
		position: fixed;
		left: auto;
		margin-left: -60px;
		top: 110px;
		@include mq(){
			margin-left: 0;
			top: 75px;
		}
	}
	.menu-list{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #f6f6f6;
		border: 1px solid #ccc;
		cursor: pointer;
		position: relative;
		margin-bottom: 10px;
		@include smooth-transition;
		&:hover,&.active{
			background: #ed7e1f;
			i{
				color: white;
				@include smooth-transition;
			}
		}
		.fa-times{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			opacity: 0;
			visibility: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&.active{
			.fa-ellipsis-v{
				opacity: 0;
				visibility: hidden;
			}
			.fa-times{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	ul{
		border: 1px solid #ccc;
		width: 40px;
		border-radius: 40px;
		display: none;
	}
	li{
		position: relative;
		.note{
			position: absolute;
			left: calc(100% + 5px);
			@include v-align;
			min-width: 100px;
			font-size: 14px;
			color: white;
			background: #50575b;
			padding: 8px 5px;
			text-align: center;
			opacity: 0;
			visibility: hidden;
			@include smooth-transition;
		}
		a{
			display: block;
			text-align: center;
			padding: 10px 0;
			cursor: pointer;
			&:hover{
				background: #ed7e1f;
				i{
					color: white;
				}
				& + .note{
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&:nth-child(1){
			a{
				padding-top: 20px;
				border-radius: 40px 40px 0 0;
			}
		}
		&:last-child{
			a{
				padding-bottom: 10px;
				border-radius: 0 0 40px 40px;
			}
		}
	}
	&.popup-list-02{
		left: auto !important;
		margin: 77px 0 0 30px;
		@include mq(){
			margin-left: 10px;
		}
		&.active{
			margin-top: 0;
		}
	}
	i{
		font-size: 23px;
		color: #959595;
	}
}
.fixd-right {
	max-width: 296px;
	@include mq(){
		max-width: 100%;
	}
	&.active{
		position: fixed;
		top: 23px;
	}
	&.active2{
		position: absolute;
		top: auto;
		bottom: 0;
	}
}


.payments{
	&-block{
		background: white;
		margin-bottom: 30px;
		box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.17);
		.heading{
			display: block;
			@include font-size(25);
			padding: 15px 20px;
			background: #007cc4;
			color: white;
			font-weight: 400;
			margin-bottom: 0;
			@include mq(){
				@include font-size(16);
			}
		}
		.sub-form{
			margin: 0;
		}
	}
	&-show{
		border: 1px solid #ccc;
		padding: 40px;
		@include mq(){
			padding: 15px;
		}
	}
	&-note{
		position: relative;
		background: #dff7f6;
		padding: 15px 30px 15px 15px;
		margin-bottom: 30px;
		.close-payments{
			color: #ed1c24;
			font-size: 20px;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
		}
	}
	&-bar{
		padding: 100px 50px;
		@include mq(){
			padding: 15px;
		}
		p{
			margin-bottom: 30px;
			@include mq(){
				margin-bottom: 15px;
			}
		}
		.bar{
			width: 100%;
			height: 15px;
			background: #ebebeb;
			position: relative;
			span{
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				background: #8dc63f;
			}
		}
	}
}
.bill-block{
	padding: 40px 30px;
	@include font-size(16);
	@include mq(){
		padding: 15px;
	}
	table{
		width: 100%;
		tr{
			th,td{
				padding: 10px;
				vertical-align: top;
			}
			th{
				width: 200px;
				@include mq(){
					width: 100px;
				}
			}
		}
	}
}
.payments-show{
	@include font-size(16);
	.item{
		margin-bottom: 40px;
		&:last-child{
			margin-bottom: 0;
		}
		.pure-input{
			label{
				font-weight: 500;
				padding-left: 40px;
				img{
					margin-left: 20px;
				}
			}
		}
	}
	.payments-pure-input{
		padding: 20px 40px;
		display: none;
		.labelText1{
			font-weight: 500;
		}
		.row{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&.payments-pure-hd{
			padding: 15px 20px 0;
		}
	}
	
	.show-card{
		display: flex;
		flex-wrap: wrap;
		max-width: 600px;
		margin: 0 -10px;
		li{
			width: 33.333%;
			padding: 0 10px;
			margin-bottom: 20px;
			span{
				display: block;
				position: relative;
				border: 1px solid transparent;
				border-radius: 4px;
				cursor: pointer;
				overflow: hidden;
			}
			&.active{
				span{
					border: 1px solid #007cc4;
				}
			}
		}
	}
}
.pure-input{
	input{
		&[type="radio"]{
			&:checked{
				& + label{
					& + .payments-pure-input{
						display: block;
					}
				}
			}
		}
	}
}

.list-botton{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	li{
		width: 33.333%;
		padding: 0 10px;
		margin-bottom: 20px;
		.btn{
			width: 100%;
			min-width: 10px;
			@include font-size(16);
			color: #004a80;
		}
	}
}
.table-list{
	width: 100%;
	@include font-size(16);
	thead{
		tr{
			background: #f7f7f7;
			th{
				border-top: none;
				padding: 10px 20px;
			}
		}
	}
	tr{
		cursor: pointer;
		th,td{
			border: 1px solid #ccc;
		}
		th{
		
		}
		td{
			padding: 5px 10px;
			&:nth-child(1){
				padding-left: 8px;
				i{
					margin-right: 5px;
					color: red;
					opacity: 0;
				}
			}
		}
		&.active,&:hover{
			background: #e2ecf7;
			td{
				i{
					opacity: 1;
					
				}
			}
		}
	}
}
.dots{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	right: 15px;
	@include v-align;
	li{
		margin-right: 15px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: white;
		&:last-child{
			margin-right: 0;
		}
		&.past{
			background: #f79542;
		}
		&.active{
			width: 50px;
			background: #f79542;
			border-radius: 10px;
		}
	}
}
.code-user{
	padding: 50px;
	@include mq(){
		padding: 15px;
	}
	.row{

	}
}
.code-block{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	margin: 0 -15px 30px;
	.items{
		width: 29%;
		padding: 0 15px;
		@include mq(){
			width: 100%;
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&-orther{
			width: 13%;
			@include mq(){
				width: 100%;
				padding: 0 15px;
			}
		}
	}
}
.table-user{
	width: 100%;
	tr{
		th,td{
			border: 1px solid #c2c2c2;

		}
		th{
			font-weight: 500;
			text-transform: uppercase;
			padding: 15px;
			background: #f7f7f7;
			border-top: none;
			&:nth-child(1){
				padding-left: 40px;
			}
		}
		td{
			padding: 5px 15px;
			i{
				color: red;
				margin-right: 5px;
				opacity: 0;
				@include smooth-transition;
			}
		}
		&:nth-child(even){
			background: #f7f7f7;
		}
		&:hover,&.active{
			cursor: pointer;
			background: #ebf1f7;
			td{
				i{
					opacity: 1;
				}
			}
		}
	}
}
.sub-form-user{
	display: flex;
	justify-content: flex-end;
	.btn{
		margin-right: 10px;
		&:last-child{
			margin-right: 0;
		}
	}
}
.change{
	position: relative;
}
.fill{
	width: 43px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}
.error{
	display: block;
	position: absolute;
	bottom: -20px;
	font-size: 12px;
}
.table-code{
	width: 100%;
	margin-bottom: 20px;
	tr{
		border-bottom: 1px solid #ccc;
		&:nth-child(odd){
			background: #f7f7f7;
		}
		th,td{
			padding: 5px 10px;
			text-align: center;
			.color-red{
				font-size: 20px;
				font-weight: 500;
			}
			&:nth-child(1){
				text-align: left;
			}
		}
		th{
			background: #007cc4;
			color: white;
			text-transform: uppercase;
		}
	}
}
.note-page{
	background: black;
	border: 2px solid white;
	position: fixed;
	top: 100px;
	right: 15px;
	color: white;
	border-radius: 10px;
	padding: 30px 40px 30px 30px;
	font-size: 16px;
	@include mq(){
		display: none;
	}
	&.active{
		display: none;
	}
	p{
		margin-bottom: 15px;
		&:last-child{
			margin-bottom: 0;
		}
		a{
			display: inline-block;
			text-transform: uppercase;
			color: white;
			border: 1px solid red;
			padding: 10px 15px;
			border-radius: 10px;
		}
	}
	.close-note-page{
		position: absolute;
		top: 6px;
		right: 10px;
		font-size: 23px;
		cursor: pointer;
	}
}
.user-scroll{
	@include mq(){
		overflow-x: scroll;
		.table-user{
			width: 767px;
		}
	}
}
.tab-content{
	display: none;
	&.active{
		display: block;
	}
}
.tab-content-img{
	display: none;
	&.active{
		display: block;
	}
}
.fill-heading {
	position: fixed;
	bottom: 100%;
	left: 0;
	right: 0;
	background: linear-gradient(180deg, #003d8e 0%, #007cc4 100%);
	color: white;
	z-index: 999;
	padding: 10px 0;
	@include smooth-transition;
	&.none{
		bottom: 100% !important;
	}
	&.active{
		bottom: calc(100% - 91px);
	}
	.fill-heading{
		display: none;
	}
	@include mq(ipd){
		display: none !important;
	}
}
.fixd-right{
	.total-list{
		&.active{
			@include mq(ipd-min){
				position: fixed;
				top: 0;
				min-width: 297px;
				@include smooth-transition;
				&.active2{
					top: 92px;
				}
			}
		}
	}
}