
body {
	font-family: $font-Roboto;
	color: #363636;
	overflow-x: hidden;
	line-height: 1.4;
	@include font-size(16);
	@include mq(){
		@include font-size(14);
	}
}


//header
#header{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
	position: relative;
	z-index:  999;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.44);
	@include mq(){
		padding: 15px;
	}
	.logo{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@include mq(){
			width: 100%;
			justify-content: space-between;
			margin-bottom: 30px;
		}
		a{
			display: inline-block;
			margin-right: 30px;
			@include mq(){
				margin-right: 0;
			}
		}
	}
	.header-user{
		display: flex;
		align-items: center;
		@include mq(){
			width: 100%;
			justify-content: flex-end;
		}
		.dropdown{
			border-right: 1px solid;
			padding-right: 10px;
			margin-right: 10px;
			span{
				font-weight: 500;
				color: #959595;
				cursor: pointer;
				margin-left: 5px;
			}
		}
	}
	#mainMenu{
		@include mq(){
			display: none;
		}
		>.menu{
			display: flex;
			flex-wrap: wrap;
			>.item{
				position: relative;
				>a{
					display: block;
					@include font-size(15);
					font-weight: 500;
					text-transform: uppercase;
					padding: 30px 15px;
					color: #959595;
				}
				&.active,&:hover{
					>a{
						color: #f58220;
					}
				}
				.sub-menu{
					background: #007cc4;
					border-radius: 5px;
					padding: 15px 20px;
					min-width: 290px;
					position: absolute;
					top: 100%;
					@include h-align;
					display: none;
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.29);
					&:before{
						position: absolute;
						content: "";
						width: 0;
						height: 0;
						bottom: 100%;
						right: 0;
						left: 0;
						margin: 0 auto;
						border-left: solid 10px transparent;
						border-right: solid 10px transparent;
						border-bottom: solid 10px #007cc4;
					}
					li{
						a{
							display: block;
							white-space: nowrap;
							@include font-size(15);
							padding: 10px;
							color: white;
							&:hover{
								background: #008dde;
							}
						}
					}
				}
				&:hover{
					.sub-menu{
						display: block;
					}
				}
			}
		}
	}
	#button-toggle-menu{
		display: none;
		position: absolute;
		bottom: 10px;
		left: 15px;
		background: #007cc4;
		color: white;
		padding: 4px 10px 4px;
		cursor: pointer;
		font-size: 23px;
		box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.37);
		border: none;
		@include mq(ipd){
			display: block;
		}
	}
}


main{
	display: block;
}

//footer
#footer{
	background: #c6d9f2;
	.inner{
		padding: 25px 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	p{
		margin-bottom: 0;
	}
}

.sec{
	&-note{
		padding: 50px 0;
	}
	&-heading{
		padding: 30px 0;
		background: rgb(0,61,142);
		background: linear-gradient(180deg, rgba(0,61,142,1) 0%, rgba(0,124,196,1) 100%);
		color: white;
		&.bg-gray{
			color: #363636;
		}
		&.heading-02{
			padding-bottom: 150px;
		}
		.inner{
			max-width: 1200px;
			position: relative;
		}
		.ttl{
			font-weight: 400;
			margin-top: 10px;
		}
		@include mq(){
			.ttl{
				@include font-size(20);
			}
		}
	}
	&-content{
		padding: 30px 0 50px;
		background: #f8f9fa;
	}
}
.content-new{
	margin-top: -140px !important;
	&.active{
		margin-top: 95px !important;
	}
}
.heading-fixd{
	@include smooth-transition;
	padding: 30px 0 150px;
	&.active{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		padding: 15px 0;
	}
}
.breadcrumb li a{
	font-size: 14px;
}