* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

img {
	max-width: 100%;
}

section {
	position: relative;
}

a {
	color: #004a80;
	@include smooth-transition;
	
	&:hover {
		opacity: 0.7;
		text-decoration: none;
	}
}


.inner {
	display: block;
	max-width: 980px;
	margin: 0 auto;
	padding: 0 15px;
	&-1200{
		max-width: 1200px;
	}
}


.clearfix {
	*zoom: 1;
	
	&:before {
		content: "";
		display: table;
	}
	
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}

.heading {
	display: block;
	@include font-size(23);
	margin-bottom: 15px;
	font-weight: 400;
	color: #363636;
}
.bg{
	&-01{
		background: rgb(66, 133, 244) !important;
	}
	&-02{
		background: rgb(129, 173, 248) !important;
	}
	&-03{
		background: rgb(162, 195, 250) !important;
	}
	&-gray{
		background: #ebebeb !important;
	}
	&-gren{
		background: #e2ecf7 !important;
	}
	&-line-yellow{
		background: #fffef2 !important;
	}
	&-blue {
		background: #007cc4 !important;
		color: white;
	}
	&-orther{
		background: #0060b1 !important;
	}
}

//input
.form-control {
	@include font-size(16);
	border: 1px solid #c2c2c2;
	height: 30px;
	padding: 0 6px;
	background-color: #f2faff;
	&.atm{
		background: #f2faff url(../img/index/atm.png) no-repeat;
		background-position: 10px 13px;
		padding-left: 40px;
	}
	@include mq(sm) {
		height: 36px;
		@include font-size(14);
	}
	&.odd{
		border: none;
		background: #ebebeb !important;
		box-shadow: 0 0 0 0 black;
	}
	&.none-border{
		border: none;
		background: none;
		box-shadow: 0 0 0 0 black;
	}
}

select.form-control {
	background: url("../img/common/select.png")no-repeat;
	background-position: top right;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&::-ms-expand {
		display: none;
	}
}

//btn
.btn {
	@include font-size(18);
	font-weight: 500;
	border: none;
	outline: none !important;
	padding: 10px 20px;
	min-width: 200px;
	border-radius: 2px;
	@include smooth-transition;
	background: rgb(235,235,235);
	background: linear-gradient(180deg, rgba(235,235,235,1) 0%, rgba(207,204,204,1) 100%);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.36);
	color: #959595;
	&:hover{
		background: linear-gradient(180deg, #e5771e 0%, #7d3511 100%) !important;
		color: white !important;
	}
	@include mq(sm) {
		font-size: 17px;
		padding: 8px 10px;
		min-width: 50px;
		border-radius: 5px;
	}
	
	&-blue {
		background: #007ebf !important;
		color: white !important;
	}
	
	&-orange {
		background: rgb(245,127,31);
		background: linear-gradient(180deg, rgba(245,127,31,1) 0%, rgba(201,86,28,1) 100%);
		color: white !important;
	}
	&-gray{
		background: rgb(132,132,132);
		background: linear-gradient(180deg, rgba(132,132,132,1) 0%, rgba(71,71,71,1) 100%);
		color: white !important;
	}
	
	&:hover {
		opacity: 1;
	}
	&-none{
		background: none;
		border-radius: 50%;
		min-width: 10px;
		padding: 0;

	}
	&-default{
		background: rgb(0,125,191);
		background: linear-gradient(90deg, rgba(0,125,191,1) 0%, rgba(0,95,170,0.4906337535014006) 100%);
		border-radius: 30px;
		color: white;
		border: 1px solid white;
		&:hover{
			border: 1px solid transparent;
		}
	}
}

.dropdown-toggle {
	cursor: pointer;
}

.w100 {
	width: 100% !important;
}

.mw-600 {
	width: auto;
	max-width: 600px;
	margin: 0 auto;
}
.mw-100{
	max-width: 100px;
}

.color {
	&-blue {
		color: #007cc4 !important;
	}
	
	&-orange {
		color: #f26522 !important;
	}
	&-red {
		color: red !important;
	}
	&-gray{
		color: #959595 !important;
	}
}



.breadcrumb {
	background: none;
	padding: 0;
	margin-bottom: 0;
	li {
		a {
			color: #6dcff6;
			
		}
	}
}

.pure-input{
	input{
		&[type="checkbox"]{
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
			& + label{
				&:after{
					background-color: transparent;
					top: 50%;
					left: 5px;
					width: 11px;
					height: 4px;
					margin-top: -7px;
					border-style: solid;
					border-color: #fff;
					border-width: 0 0 3px 3px;
					-o-border-image: none;
					border-image: none;
					-webkit-transform: rotate(-45deg) scale(0);
					-ms-transform: rotate(-45deg) scale(0);
					transform: rotate(-45deg) scale(0);
				}
			}
			&:checked{
				& + label{
					&:after{
						content: '';
						transform: rotate(-45deg) scale(1);
						transition: transform 200ms ease-out;
					}
					&:before{
						animation: borderscale 200ms ease-in;
						background: #000;
					}
					& + .check-note{
						display: block;
					}
				}
			}
		}
		&[type="radio"]{
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
			+ label{
				&:after,&:before{
					border-radius: 50%;
				}
				&:after{
					left: 6px;
				}
			}
			&:checked{
				& + label{
					&:before{
						animation: borderscale 300ms ease-in;
						background-color: white;
					}
					&:after{
						transform: scale(1);
						background: #464646;
					}
				}
			}
		}
	}
	label{
		position: relative;
		padding: 0 0 0 30px;
		vertical-align: middle;
		user-select: none;
		cursor: pointer;
		font-weight: 400;
		@include font-size(18);
		color: #464646;
		margin-bottom: 0;
		@include mq(){
			@include font-size(16);
		}
		&:before{
			-webkit-box-sizing: content-box;
			box-sizing: content-box;
			content: '';
			color: #4F8196;
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			border: 1px solid #c2c2c2;
			text-align: center;
			-webkit-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;
			border-radius: 3px;
			
		}
		&:after{
			box-sizing: content-box;
			content: '';
			background-color: #fff;
			position: absolute;
			top: 13px;
			left: 4px;
			width: 10px;
			height: 10px;
			margin-top: -7px;
			transform: scale(0);
			transform-origin: 50%;
			transition: transform 200ms ease-out;
		}
	}
}



.btn-demo{
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: none;
	border: none;
	outline: none;
	width: 60px;
	height: 60px;
	z-index: 9999;
	@include mq(){
		width: 40px;
		height: 40px;
		right: 5px;
		bottom: 5px;
	}
	&.active{
		position: absolute;
		bottom: calc(100% + 10px);
	}
	i{
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		font-size: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #eeeeee;
		border-radius: 50%;
		color: #f58220;
		@include smooth-transition;
	}
	&.close{
		opacity: 1;
		img{
			opacity: 0;
			visibility: hidden;
		}
		i{
			opacity: 1;
			visibility: visible;
		}
	}
}

.custom-modal{
	bottom: auto;
	@include v-align;
	.modal-dialog{
		width: auto;
		max-width: 800px;
	}
	.modal-content{
		@include font-size(16);
		padding: 50px 0;
		.modal-title{
			font-weight: 300;
			text-transform: uppercase;
			text-align: center;
			@include font-size(32);
			margin-bottom: 10px;
			color: #363636;
		}
		.close{
			position: absolute;
			top: -30px;
			right: 20px;
			@include font-size(32);
		}
		.modal-header{
			position: relative;
			padding: 0 15px;
			border-bottom: none;
		}
		.ttl{
			display: block;
			text-transform: uppercase;
			color: #363636;
			margin-bottom: 10px;
		}
		p{
			color: #707070;
			margin-bottom: 15px;
		}
		label{
			display: block;
			margin-bottom: 10px;
		}
		.form-control{
			margin-bottom: 20px;
		}
		.btn{
			width: 100%;
		}

	}
	ul{
		li{
			color: #464646;
			font-weight: 500;
			margin-bottom: 10px;
		}
	}
	&-02{
		bottom: auto;
		@include v-align;
		.modal-dialog{
			width: auto;
			max-width: 800px;
		}
		.modal-body{
			padding: 0;
		}
		.modal-content{
			@include font-size(16);
			border-radius: 5px;
			overflow: hidden;
			.modal-title{
				font-weight: 300;
				text-transform: uppercase;
				text-align: center;
				@include font-size(32);
				margin-bottom: 10px;
				color: #363636;
			}
			.close{
				position: absolute;
				right: 20px;
				@include v-align;
				@include font-size(30);
				color: #fdc689;
				opacity: 1;
			}
			.modal-header{
				position: relative;
				padding: 20px 100px;
				border-bottom: none;
				background: #007cc4;
				color: white;
				font-size: 24px;
				@include mq(){
					padding: 10px 60px;
					@include font-size(20);
				}
				.ttl{
					position: relative;
					i{
						display: flex;
						align-items: center;
						justify-content: center;
						width: 30px;
						height: 30px;
						background: #0091e6;
						border-radius: 50%;
						color: white;
						font-size: 20px;
						position: absolute;
						left: -50px;
						@include v-align;
					}
				}
			}
			.show-modal-body{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				max-width: 605px;
				margin: 30px auto;
				@include mq(){
					margin: 0;
					padding: 15px;
				}
				.show-left{
					width: 50%;
					@include mq(){
						width: 100%;
					}
					.row{
						margin-bottom: 15px;
					}
				}
				.show-right{
					width: 35%;
					@include mq(){
						width: 100%;
					}
				}
			}
			.modal-status{
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: 605px;
				margin: 30px auto;
				min-height: 300px;
				@include mq(){
					margin: 0;
					padding: 15px;

				}
				.img{
					width: 27.5%;
				}
				.txt{
					width: 72.5%;
					padding-left: 20px;
					color: #363636;
					font-size: 18px;
					.ttl{
						display: block;
						text-transform: uppercase;
						margin-bottom: 10px;
						color: #007cc4;
						font-size: 16px;
					}
					.coppy{
						display: block;
						background: #fdf1e4;
						margin-bottom: 20px;
						word-break: break-all;
						padding: 5px 10px;
						position: relative;
						.on-coppy{
							cursor: pointer;
							position: absolute;
							bottom: 100%;
							right: 0;
							background: #363636;
							color: white;
							padding: 10px;
							border-radius: 4px;
							font-size: 12px;
							display: none;
						}
						&:hover{
							.on-coppy{
								display: inline-block;
							}
						}
					}
				}
			}
			.modal-footer{
				background: #ebebeb;
				display: flex;
				justify-content: flex-end;
				border-top: none;
				padding: 20px;
			}
			.modal-user{
				padding: 30px 50px;
				overflow: auto;
				max-height: 80vh;
				@include mq(){
					padding: 15px;
				}
			}
		}
	}
}
.row{
	display: flex;
	flex-wrap: wrap;
	>div{
		position: relative;
		@include mq(){
			&.col-xs-12{
				margin-bottom: 20px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}
.row-s{
	margin: 0 -7px;
	.col-s{
		padding: 0 7px;
	}
}

.mt{
	&-15{
		margin-top: 15px !important;
	}
	&-30{
		margin-top: 30px !important;
	}
	&-45{
		margin-top: 45px !important;
	}
}
.mb{
	&-0{
		margin-bottom: 0 !important;
	}
	&-15{
		margin-bottom: 15px !important;
	}
	&-20{
		margin-bottom: 20px !important;
	}
	&-30{
		margin-bottom: 30px !important;
	}
}
.pagination {
	display: flex;
	justify-content: center;
}
.custom-modal-full{
	bottom: auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	.modal-dialog{
		margin: 0 auto;
		width: auto;
		max-width: 1700px;
	}
	.modal-header{
		position: relative;
		.row{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			max-width: 1024px;
		}
		.btn{
			font-size: 14px;
			padding: 5px 15px;
			-moz-transition: ease 0s;
			-o-transition: ease 0s;
			-webkit-transition: ease 0s;
			transition: ease 0s;
		}
		.close{
			margin-top: 0;
			font-size: 30px;
			position: absolute;
			right: 15px;
			@include v-align;
			@include mq(sm){
				top: 10px;
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
			}
		}
	}
}
.show-pdf{
	min-height: 50vh;
	#fill-pdf{
		display: none;
		width: 100% !important;
		height: 85vh !important;
		@include mq(){
			height: 40vh !important;
		}
	}
}