.search-block{
	@include font-size(16);
	color: white;
	margin-top: 50px;
	.control-label{
		display: block;
		color: #d1dad9;
		margin-bottom: 7px;
		text-transform: uppercase;
		font-weight: 500;
	}
	.form-control{
		background: none;
		color: white;
		height: 35px;
		&.bg-calendar{
			background: transparent url("../img/common/bg-calendar.png")no-repeat;
			background-position: center right;
		}
	}
	select.form-control{
		border: 2px solid transparent;
		background: transparent url("../img/common/select-03.png")no-repeat;
		background-position: center right;
		box-shadow: 0 0 0 0;
		option{
			color: #333;
		}
	}
	.row{
		.col-xs-12{
			margin-bottom: 0;
		}
	}
	.d-flex{
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		.col-xs-12{
			padding: 15px 10px 5px;
			background: #529fcc;
			border: 1px solid #005aa7;
			border-right: none;
			border-top: none;
			&:nth-child(1),&:nth-child(5),&:nth-child(8){
				border-left: none;
			}
			@include mq(){
				border: none;
				border-bottom: 1px solid #005aa7;
			}
			&.d-flex{
				justify-content: center;
			}
		}
	}
}
.list-button{
	display: flex;
	justify-content: center;
	margin: 20px 0 40px;
	li{
		margin: 0 10px;
		.btn{
			font-weight: 500;
			font-size: 14px;
			color: #004a80;
			min-width: 100px;
			text-shadow: 1px 2px 2px white;
		}
	}
}
.show-serach{
	background: white;
	box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.26);
	padding: 15px;
	border-radius: 5px;
	max-width: 1170px;
	margin: -180px auto 80px;
	@include mq(){
		overflow-x: scroll;
	}
	.ttl{
		display: block;
		@include font-size(32);
		margin-bottom: 10px;
		font-weight: 400;
	}
	.gridX{
		width: 100%;
		@include mq(){
			width: 800px;
		}
		tr{
			cursor: pointer;
			th,td{
				position: relative;
				&:nth-child(1){
					width: 4%;
					i{
						opacity: 0;
					}
				}
				&:nth-child(2){
					width: 10%;
				}
				&:nth-child(3){
					width: 18%;
				}
				&:nth-child(4){
					width: 20%;
				}
				&:nth-child(5){
					width: 10%;
				}
				&:nth-child(6){
					width: 10%;
					text-align: right;
				}
				&:nth-child(7){
					width: 10%;
				}
				&:nth-child(8){
					width: 10%;
				}
				nobr{
					a{
						display: inline-block;
						i{
							margin-right: 3px;
						}
					}
				}
				.check{
					width: 17px;
					height: 17px;
					background: url(../img/common/check-01.png) no-repeat;
					background-size: 100%;
					position: absolute;
					top: 26px;
					left: 25px;
					z-index: 2;
					@include mq(){
						left: 5px;
						top: 10px;
					}
				}
			}
			th{
				padding: 15px 10px;
				text-transform: uppercase;
				font-weight: 500;
				background: #f7f7f7;
				border-top: none;
				border-bottom: 2px solid #c2c2c2;
				.check{
					top: 17px;
				}
				@include mq(){
					padding: 10px 5px;
					.check{
						top: 19px;
					}
				}
			}
			td{
				padding: 15px 10px;
				position: relative;
				@include mq(){
					padding: 10px 5px;
				}
				//.show-serach-item{
				//	display: flex;
				//	flex-wrap: wrap;
				//	position: absolute;
				//	bottom: 10px;
				//	left: 0;
				//	min-width: 500px;
				//	z-index: 1;
				//	opacity: 0;
				//	visibility: hidden;
				//	@include smooth-transition;
				//	li{
				//		border-right: 1px solid #ccc;
				//		padding: 0 15px;
				//		&:last-child{
				//			border-right: none;
				//		}
				//		a{
				//			line-height: 1;
				//			font-size: 14px;
				//			color: #004a80;
				//			font-weight: 500;
				//			i{
				//				margin-right: 7px;
				//				color: #004a80;
				//			}
				//		}
				//	}
				//}
				.show-menu-item{
					position: relative;
					text-align: center;
					.open-show{
						color: #ccc;
						font-size: 30px;
						position: relative;
						@include smooth-transition;
						&:hover{
							color: #fd7e14;
						}
						.fa-times{
							position: absolute;
							top: 3px;
							left: 0;
							right: 0;
							bottom: 4px;
							opacity: 0;
							visibility: hidden;
							color: #fd7e14;
						}
						&.active{
							.fa-ellipsis-h{
								opacity: 0;
								visibility: hidden;
							}
							.fa-times{
								opacity: 1;
								visibility: visible;
							}
						}
					}
					.show-serach-item{
						text-align: left;
						position: absolute;
						top: calc(100% + 5px);
						left: auto;
						right: 20px;
						min-width: 200px;
						border-radius: 10px;
						background: white;
						padding: 20px;
						box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.15);
						z-index: 1;
						border: none;
						&:after{
							position: absolute;
							content: "";
							width: 0;
							height: 0;
							bottom: 100%;
							right: 15px;
							border-left: solid 11px transparent;
							border-right: solid 11px transparent;
							border-bottom: solid 11px white;
						}
						li{
							margin-bottom: 15px;
							&:last-child{
								margin-bottom: 0;
							}
							a{
								color: #959595;
								font-size: 16px;
								i{
									margin-right: 12px;
									width: 20px;
									text-align: center;
								}
							}
							&:hover{
								a{
									color: #337ab7 !important;
									i{
										color: #337ab7 !important;
									}
								}
							}
						}
					}
				}
				.fill-txt{
					position: relative;

					.fill-txt-note{
						position: absolute;
						bottom: calc(100% + 5px);
						left: 0;
						min-width: 300px;
						background: rgba(0, 0, 0, 0.56);
						color: white;
						font-size: 14px;
						padding: 10px 15px;
						border-radius: 10px;
						opacity: 0;
						visibility: hidden;
						@include smooth-transition;
						@include mq(){
							display: none;
						}
					}
					.fill-txt-odd{
						white-space: nowrap;
						&:hover{
							& + .fill-txt-note{
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}
			&:nth-child(even){
				background: #f7f7f7;
			}
			&:hover,&.active{
				background: #ebf1f7;
				th,td{
					i{
						opacity: 1;
					}
					.show-serach-item{
						opacity: 1;
						visibility: visible;
					}
					.check{
						background: url(../img/common/check-02.png) no-repeat;
						background-size: 100%;
					}
					&:nth-child(1){
						i{
							color: #fd7e14;
						}
					}
				}
			}
		}
	}
}
.hidden-block{
	display: flex;
	justify-content: flex-end;
	@include font-size(14);
	color: #e1e1e1;
	margin: 15px 0 0;
	span{
		cursor: pointer;
	}
	i{
		margin-right: 10px;
	}
}
.btn-item{
	display: inline-block;
	margin-right: 15px;
	border: none;
	background: none;
	outline: none !important;
}