@import "vars";
@import "module";

body {
	font-family: $font-Roboto;
	color: #363636;
	overflow-x: hidden;
	line-height: 1.4;
}

.logo-login {
	display: flex;
	position: fixed;
	align-items: center;
	top: 30px;
	left: 30px;
	z-index: 9;
	@include mq() {
		top: 15px;
		left: 15px;
		right: 15px;
		justify-content: space-between;
		position: absolute;
	}
	
	a {
		display: inline-block;
		margin-right: 50px;
		@include mq(sm) {
			margin-right: 0;
		}
	}
	&-02{
		top: 0;
		left: 0;
		right: 0;
		padding: 10px 30px;
		background: white;
		justify-content: space-between;
		.phone{
			display: inline-flex;
			align-items: center;
			font-size: 24px;
			color: #89c655;
			margin-right: 0;
			font-weight: 500;
			@include mq(){
				font-size: 16px;
			}
			i{
				font-size: 30px;
				display: inline-block;
				margin-right: 10px;
				@include mq(){
					font-size: 18px;
					margin-right: 5px;
				}
			}
		}
	}
}

.system {
	&-block {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		min-height: 100vh;
		background: #eeeeee;
	}
	
	&-about {
		width: 60%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;
		justify-items: center;
		text-align: center;
		@include font-size(18);
		padding-top: 50px;
		@include mq() {
			@include font-size(14);
			width: 100%;
			order: 2;
			padding: 30px 15px;
		}
		
		.img {
			width: 100%;
			margin-bottom: 40px;
			
			img {
				@include mq(lp) {
					max-height: 350px;
				}
			}
		}
		
		.txt {
			width: 100%;
			
			.ttl {
				display: block;
				@include font-size(28);
				text-transform: uppercase;
				margin-bottom: 15px;
				@include mq(sm) {
					@include font-size(20);
				}
			}
		}
	}
	
	&-login {
		width: 40%;
		background: white;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;
		justify-items: center;
		text-align: center;
		padding: 0 15px;
		position: relative;
		@include mq() {
			order: 0;
			width: 100%;
			padding: 120px 15px 20px;
			position: static;
		}
		.app{
			display: flex;
			justify-content: center;
			a{
				display: inline-block;
				margin: 0 10px;
			}
		}
		.img {
			width: 100%;
			margin-bottom: 15px;
		}
		
		.ttl {
			display: block;
			@include font-size(24);
			width: 100%;
			margin-bottom: 30px;
			@include mq(lp) {
				@include font-size(20);
			}
		}
		
		form {
			width: 100%;
			max-width: 360px;
			margin: 0 auto;
			text-align: left;
			@include font-size(16);
			
			.item {
				margin-bottom: 30px;
				position: relative;
				.show-password{
					position: absolute;
					top: 0;
					right: 0;
					height: 40px;
					width: 40px;
					cursor: pointer;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #707070;
				}
				label {
					display: block;
					margin-bottom: 10px;
				}
				
				button {
					margin-bottom: 20px;
				}
				
				a {
					@include font-size(14);
					text-decoration: underline;
				}
			}
		}
		.form-control{
			height: 40px;
		}
		select.form-control{
			height: 40px;
			background: white url("../img/common/select-03.png")no-repeat;
			background-position: right center;
		}
	}
	&-block-02{
		background: #0052a0;
		color: white;
		margin-top: 79px;
		min-height: calc(100vh - 79px);
		@include mq(){
			margin-top: 0;
		}
		.system{
			&-about{
				order: 2;
				padding: 30px 0;
				img{
					margin: 0;
					max-height: 70vh;
				}
			}
			&-login{
				order: 1;
				background: none;
				.item{
					a{
						color: white;
					}
				}
				.suport-new{
					background: #0052a0;
					.show{
						background: #0052a0;
						position: relative;
					}
					.suport-new-close{
						position: absolute;
						bottom: 100%;
						right: 0;
						color: white;
						cursor: pointer;
						font-size: 38px;
						@include mq(){
							display: none;
						}
					}
				}
			}
		}
	}
	&-block-03{
		justify-content: center;
		background: #0052a0;
		color: white;
		margin-top: 79px;
		min-height: calc(100vh - 79px);
		@include mq(){
			margin-top: 0;
			min-height: 100vh;
		}
		.system-login{
			background: none;
			width: 100%;
		}
		a{
			color: white;
		}
		.suport-new{
			background: rgba(0, 0, 0, 0.46);
			.show{
				background: #0052a0;
				position: relative;
			}
			.suport-new-close{
				position: absolute;
				bottom: 100%;
				right: 0;
				color: white;
				cursor: pointer;
				font-size: 38px;
				@include mq(){
					display: none;
				}
			}
		}
	}
}

.suport-new{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	opacity: 0;
	visibility: hidden;
	@include smooth-transition;
	@include mq(){
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.26);
		z-index: 99;
		overflow: scroll;
	}
	&.active{
		opacity: 1;
		visibility: visible;
	}
	.show{
		border: 1px solid #cccc;
		border-radius: 20px;
		padding: 30px 15px;
		background: #eeeeee;
		text-align: left;
		max-width: 400px;
		margin: 0 auto;
		.heading-popup-new{
			@include font-size(30);
			font-weight: 400;
			margin-bottom: 15px;
			@include mq(){
				@include font-size(25);
			}
		}
		.ttl{
			@include font-size(25);
			margin-bottom: 15px;
		}

		label,.form-control{
			margin-bottom: 15px;
		}
		.btn{
			margin-bottom: 30px;
		}
		ul{
			padding-top: 10px;
			li{
				font-size: 16px;
				margin-bottom: 10px;
				&:last-child{
					margin-bottom: 0;
				}
				i{
					margin-right: 10px;
				}
			}
		}
	}
}
main{
	position: relative;
}
.list-bg{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	.item{
		display: none;
		background-size: cover;
		background-position: center center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		&.active{
			display: block;
		}
	}
}