<section class="sec-note">
    <div class="inner">
        <div class="note-block text-center">
            <h1 class="ttl">
                HỆ THỐNG BẢO LÃNH VIỆN PHÍ<br class="pc-sm">
                DÀNH CHO KÊNH KHAI THÁC
            </h1>
            <p>Distribution Chanel. V-SIS Digital Insurance Platform</p>
            <a href="">Xem giới thiệu</a>
        </div>
    </div>
</section>
<footer id="footer">
    <div class="inner">
        <a href="" class="logo">
            <img src="<%= RELATIVE_PATH %>img/common/logo-footer.png" alt="img">
        </a>
        <p>
            V-SIS (Viet Smart Insurance Solutions) © 2010 - 2020 All Rights Reserved.
        </p>
    </div>
</footer>