<header id="header">
    <div class="logo">
        <a href="">
            <img src="<%= RELATIVE_PATH %>img/common/logo-02.png" alt="">
        </a>
        <a href="">
            <img src="<%= RELATIVE_PATH %>img/common/logo-03.png" alt="">
        </a>
    </div>
    <nav id="mainMenu">
        <ul class="menu">
            <li class="item active">
                <a href="">sản phẩm</a>
                <ul class="sub-menu">
                    <li><a href="">Cấp đơn Ô tô</a></li>
                    <li><a href="">Cấp đơn Xe máy</a></li>
                    <li><a href="">Cấp đơn Bảo hiểm nhà</a></li>
                    <li><a href="">Cấp đơn du lịch</a></li>
                </ul>
            </li>
            <li class="item">
                <a href="">tìm duyệt</a>
            </li>
            <li class="item">
                <a href=""> báo cáo </a>
            </li>
            <li class="item">
                <a href="">hệ thống mã</a>
            </li>
        </ul>
    </nav>
    <div class="header-user">
        <div class="dropdown">
            Xin chào :<span>Thành</span>
        </div>
        <a href="" class="color-orange"><i class="far fa-sign-out"></i></a>
    </div>
    <button id="button-toggle-menu" class="visible-xs"><i class="fas fa-bars"></i></button>
</header>