<button type="button" class="btn-demo" data-toggle="modal" data-target="#myModal">
    <img src="<%= RELATIVE_PATH %>img/common/icon-01.png" alt="img">
</button>

<!-- The Modal -->
<div class="modal custom-modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">
                    Tôi không thể đăng nhập!
                </h4>
                <p>Cách thức để bạn có thể lấy lại mật khẩu tài khoản</p>
                <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div class="row mw-600">
                    <div class="col-xs-12 col-sm-6">
                        <h3 class="ttl">
                            Cách 1
                        </h3>
                        <p>
                            Điền email đăng nhập vào form bên dưới. Hệ thống sẽ gửi thông tin cấp lại mật khẩu về tài khoản email này của bạn.
                        </p>
                        <form>
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="Email">
                            <button type="submit" class="btn btn-orange">Cấp lại mật khẩu</button>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h3 class="ttl">
                            Cách 2
                        </h3>
                        <p>
                            Vui lòng liên hệ với cán bộ kỹ thuật để được hỗ trợ.
                        </p>
                        <ul>
                            <li>Ms.Dung: 0904 51 2266</li>
                            <li>Ms.Bich: 0911 686 696</li>
                            <li>Ms.Chi: 038 753 9062</li>
                            <li>Ms.Linh: 0942 088 729</li>
                            <li>Mr.Đạo: 0915 009 868</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>