<main>
    <section class="sec-heading heading-fixd">
        <div class="inner">
            <ul class="breadcrumb">
                <li>
                    <a href=""><i class="fas fa-home"></i></a>
                </li>
                <li>
                    <a href="">Sản phẩm </a>
                </li>
                <li>
                    Đơn vị bảo hiểm nhà
                </li>
            </ul>
            <h1 class="ttl">
                Giấy chứng nhận xe bảo hiểm nhà
            </h1>
            <span class="note-status">
                Đã duyệt
            </span>
        </div>
        <div class="fill-heading none"></div>
    </section>
    <section class="sec-content">
        <div class="inner content-new">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <div class="content-block">
                        <form>
                            <div class="show">
                                <h2 class="title1">
                                    <span>Thông tin hợp đồng và tính phí bảo hiểm</span>
                                </h2>
                                <div class="show-form">
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-10">
                                                <span class="labelText1">Mục đích sử dụng<sup class="color-red">*</sup></span>
                                                <input type="text" class="form-control bg-gray" value="Quy tắc bảo hiểm nhà tư nhân">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-10">
                                                <span class="labelText1">Đối tượng bảo hiểm <sup class="color-red">*</sup></span>
                                                <input type="text" class="form-control bg-gray" value="Quy tắc bảo hiểm nhà tư nhân">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-5">
                                                <span class="labelText1">Hiệu lực từ <sup class="color-red">*</sup></span>
                                                <div class="row row-s">
                                                    <div class="col-xs-4 col-s">
                                                        <input type="text" class="form-control" value="00h00">
                                                    </div>
                                                    <div class="col-xs-8 col-s">
                                                        <input type="text" class="form-control" value="19/12/2019">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-5">
                                                <span class="labelText1">Hiệu lực đến <sup class="color-red">*</sup></span>
                                                <div class="row row-s">
                                                    <div class="col-xs-4 col-s">
                                                        <input type="text" class="form-control" value="00h00">
                                                    </div>
                                                    <div class="col-xs-8 col-s">
                                                        <input type="text" class="form-control" value="19/12/2019">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-5">
                                                <span class="labelText1">Số tiền bảo hiểm <sup class="color-red">*</sup></span>
                                                <div class="row row-s">
                                                    <div class="col-xs-4 col-s">
                                                        <input type="text" class="form-control bg-line-yellow" value="VND">
                                                    </div>
                                                    <div class="col-xs-8 col-s">
                                                        <input type="text" class="form-control " value="19/12/2019">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-5">
                                                <span class="labelText1">Tỷ lệ phí %/năm<sup class="color-red">*</sup></span>
                                                <div class="row row-s">
                                                    <div class="col-xs-4 col-s">
                                                        <input type="text" class="form-control " value="10">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 ">
                                                <span class="labelText1">Tài sản bên trong</span>
                                                <select class="form-control">
                                                    <option>Chương trình A (số tiền bảo hiểm: 100.000.000 VND, phí bảo...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 ">
                                                <span class="labelText1">Trách nhiệm công cộng</span>
                                                <select class="form-control">
                                                    <option>Không tham gia</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4">
                                                <span class="labelText1">Ngày cấp<sup class="color-red">*</sup></span>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <span class="labelText1">Hình thức thanh toán</span>
                                                <select class="form-control">
                                                    <option>Chuyển khoản</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <span class="labelText1">Hình thức trả phí</span>
                                                <select class="form-control">
                                                    <option>Thanh toán một lần</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span class="labelText1">Kỳ thanh toán</span>
                                                <table class="pure-table">
                                                    <tr>
                                                        <th></th>
                                                        <th>Ngày</th>
                                                        <th>Tiền</th>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-caret-right"></i>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control none-border">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control none-border">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-caret-right"></i>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control none-border">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control none-border">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-caret-right"></i>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control none-border">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control none-border">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-caret-right"></i>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control none-border">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control none-border">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-caret-right"></i>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control none-border">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control none-border">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="total-list bg-gren total-list-02">
                                    <div class="total-list-txt">
                                        <p>
                                            Số tháng: 12
                                        </p>
                                        <p>
                                            Số ngày lẻ: 3
                                        </p>
                                    </div>
                                    <div class="total-list-show">
                                        <table>
                                            <tr>
                                                <td>Phí chưa thuế VAT</td>
                                                <td>933.000 <sup>₫</sup></td>
                                            </tr>
                                            <tr>
                                                <td>Thuế VAT (10%)</td>
                                                <td>93.300 <sup>₫</sup></td>
                                            </tr>
                                            <tr class="all-total">
                                                <td>
                                                    <strong>Tổng cộng</strong>
                                                </td>
                                                <td>
                                                    <strong>1.026.500 <sup>₫</sup></strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="sub-form bg-gray">
                                    <a href="" class="btn">Bước trước</a>
                                    <button type="submit" class="btn btn-orange">Tiếp theo</button>
                                </div>
                            </div>
                            <div class="popup-list">
                                <span class="menu-list">
                                    <i class="fas fa-ellipsis-v"></i>
                                    <i class="far fa-times"></i>
                                </span>
                                <ul>
                                    <li>
                                        <a href="">
                                            <i class="fas fa-file-edit"></i>
                                        </a>
                                        <span class="note">Edit</span>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fas fa-file-upload"></i>
                                        </a>
                                        <span class="note">Upload</span>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fas fa-file-times"></i>
                                        </a>
                                        <span class="note">ln GCN</span>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fas fa-print"></i>
                                        </a>
                                        <span class="note">Print</span>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fas fa-file-plus"></i>
                                        </a>
                                        <span class="note">Thêm</span>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fas fa-copy"></i>
                                        </a>
                                        <span class="note">Coppy</span>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="far fa-search"></i>
                                        </a>
                                        <span class="note">Tìm kiếm</span>
                                    </li>
                                </ul>
                            </div>
                        </form>


                        <!--popup-->
                        <div class="modal custom-modal-02" id="myModal-01">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <span class="ttl"><i class="fas fa-info"></i>Thông tin Giấy chứng nhận</span>
                                        <button type="button" class="close" data-dismiss="modal"><i class="far fa-times"></i></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-status">
                                            <div class="img">
                                                <img src="<%= RELATIVE_PATH %>img/index/img-status.png" alt="img">
                                            </div>
                                            <div class="txt">
                                                <h3 class="ttl">Số Hợp đồng</h3>
                                                <span class="coppy">
                                                   4FHZNADGPSGXKICJ6ZKUY5G04NG53D6GTD9RJ6MRFFG13SQYWXROCSWZ2
                                                   <span class="on-coppy">Nhấn vào đây để sao chép</span>
                                               </span>
                                                <h3 class="ttl">ngày nhập</h3>
                                                <p>29/02/2020</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal custom-modal-02" id="myModal-02">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <span class="ttl"><i class="fa fa-phone" aria-hidden="true"></i>Đơn vị hỗ trợ Kênh bán</span>
                                        <button type="button" class="close" data-dismiss="modal"><i class="far fa-times"></i></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="show-modal-body">
                                            <div class="show-left">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <span class="labelText1">Lựa chọn đơn vị PTI</span>
                                                        <select class="form-control">
                                                            <option>Chọn</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <span class="labelText1">Đại diện</span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <span class="labelText1">Ủy quyền</span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="show-right">
                                                <div class="note-suport">
                                                    <p>
                                                        Phạm Minh Đạo
                                                        <span class="phone">0915.009.868</span>
                                                    </p>
                                                    <p>
                                                        Đỗ Minh Tuấn
                                                        <span class="phone"> 0911.805.444</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-gray">Xác nhận</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end popup-->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="fixd-right">
                        <form>
                            <div class="show-location mb-30">
                                <div class="fill-orther">
                                    <a data-toggle="modal" data-target="#myModal-02">
                                        <i class="fas fa-phone-alt"></i>
                                    </a>
                                    <a data-toggle="modal" data-target="#myModal-01">
                                        <i class="fas fa-info"></i>
                                    </a>
                                </div>
                                <span class="labelText1">Lựa chọn đơn vị Bảo hiểm<sup class="color-red">*</sup></span>
                                <select class="form-control mb-15">
                                    <option>(000) - Văn Phòng</option>
                                </select>
                                <ul>
                                    <li>
                                        <span class="ttl">Mã HD </span>
                                        BCUXL W16S8QK YTPQX BCUX...
                                    </li>
                                    <li>
                                        <span class="ttl">Ngày cập nhật</span>
                                        05/04/2020
                                    </li>
                                    <li>
                                        <span class="ttl">Cán bộ phụ trách </span>
                                        Nguyễn Hồng Oanh
                                    </li>
                                </ul>
                            </div>
                            <div class="show-form show-step mb-30">
                                <div class="img text-center mb-20">
                                    <img src="<%= RELATIVE_PATH %>img/index/step-03b.png" alt="img">
                                </div>
                                <ul class="list-step">
                                    <li class="active">
                                        <span>1</span>
                                        Thông tin bên mua
                                    </li>
                                    <li class="active">
                                        <span>2</span>
                                        Đối tượng được bảo hiểm
                                    </li>
                                    <li class="active">
                                        <span>3</span>
                                        Thông tin Hợp đồng và tính phí bảo hiểm
                                    </li>
                                    <li>
                                        <span>4</span>
                                        Thanh toán & Hoàn thành
                                    </li>
                                </ul>
                            </div>
                            <div class="total-list">
                                <h3 class="total-list-heading">Tính phí</h3>
                                <div class="bg-gren">
                                    <div class="total-list-show">
                                        <table>
                                            <tr>
                                                <td>Phí chưa thuế VAT</td>
                                                <td>933.000 <sup>₫</sup></td>
                                            </tr>
                                            <tr>
                                                <td>Thuế VAT (10%)</td>
                                                <td>93.300 <sup>₫</sup></td>
                                            </tr>
                                            <tr class="all-total">
                                                <td>
                                                    <strong>Tổng cộng</strong>
                                                </td>
                                                <td>
                                                    <strong>1.026.500 <sup>₫</sup></strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn">Thanh toán</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>