<main>
    <section class="sec-heading heading-fixd">
        <div class="inner">
            <ul class="breadcrumb">
                <li>
                    <a href=""><i class="fas fa-home"></i></a>
                </li>
                <li>
                    <a href="">Sản phẩm </a>
                </li>
                <li>
                    Giấy chứng nhận xe cơ giới
                </li>
            </ul>
            <h1 class="ttl">
                Giấy chứng nhận xe cơ giới
            </h1>
            <span class="note-status">
                Đang trình
            </span>
        </div>
    </section>
    <section class="sec-content">
        <div class="inner content-new">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <div class="content-block">
                        <form>
                            <div class="show">
                                <h2 class="title1">
                                    <span>Thông tin Hợp đồng và tính phí bảo hiểm</span>
                                </h2>
                                <div class="show-form">
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4">
                                                <span class="labelText1">Giấy chứng nhận BB</span>
                                                <input type="text" class="form-control" >
                                            </div>
                                            <div class="col-xs-12 col-sm-8">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4">
                                                <span class="labelText1">Hãng xe</span>
                                                <select class="form-control">
                                                    <option>Chọn Hãng xe</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <span class="labelText1">Hiệu xe</span>
                                                <select class="form-control">
                                                    <option>Chọn Hiệu xe</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <span class="labelText1">Năm SX</span>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4">
                                                <span class="labelText1">Kinh doanh</span>
                                                <select class="form-control">
                                                    <option>Chọn Hãng xe</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-12 col-sm-8">
                                                <span class="labelText1">Loại xe</span>
                                                <select class="form-control">
                                                    <option>Chọn loại xe</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4">
                                                <span class="labelText1">Số chỗ ngồi</span>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <span class="labelText1">Trọng tải (tấn)</span>
                                                <input type="text" class="form-control odd">
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <span class="labelText1">Số người được BH</span>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <span class="labelText1">Hiệu lực từ </span>
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <input type="text" class="form-control" value="00h00">
                                                    </div>
                                                    <div class="col-xs-8">
                                                        <input type="text" class="form-control" value="19/12/2019">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <span class="labelText1">Hiệu lực đến </span>
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <input type="text" class="form-control" value="00h00">
                                                    </div>
                                                    <div class="col-xs-8">
                                                        <input type="text" class="form-control" value="19/12/2019">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pure-input">
                                            <input id="checkbox2" name="checkbox" type="checkbox" checked="checked">
                                            <label for="checkbox2">Tự nguyện dân sự bắt buộc</label>
                                            <div class="check-note">
                                                <small>Hiệu lực 12 tháng kể từ ngày bắt đầu TNDS</small>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6">
                                                        <span class="labelText1">Phí tự nguyện dân sự</span>
                                                        <input type="text" class="form-control odd">
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <span class="labelText1">Ngày bắt đầu TNDS</span>
                                                        <div class="row mb-0">
                                                            <div class="col-xs-4">
                                                                <input type="text" class="form-control" value="00h00">
                                                            </div>
                                                            <div class="col-xs-8">
                                                                <input type="text" class="form-control" value="19/12/2019">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pure-input">
                                            <input id="checkbox3" name="checkbox" type="checkbox" checked="checked">
                                            <label for="checkbox3">Tự nguyện dân sự tự nguyện</label>
                                            <div class="check-note">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-5">
                                                        <span class="labelText1">Tự nguyện về người</span>
                                                        <input type="text" class="form-control ">
                                                    </div>
                                                    <div class="col-xs-12 col-sm-2">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="col-xs-12 col-sm-5">
                                                        <span class="labelText1">Phí</span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-5">
                                                        <span class="labelText1">Tự nguyện về tài sản</span>
                                                        <input type="text" class="form-control ">
                                                    </div>
                                                    <div class="col-xs-12 col-sm-2">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="col-xs-12 col-sm-5">
                                                        <span class="labelText1">Phí</span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-5">
                                                        <span class="labelText1">Tự nguyện về hành khách</span>
                                                        <input type="text" class="form-control ">
                                                    </div>
                                                    <div class="col-xs-12 col-sm-2">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="col-xs-12 col-sm-5">
                                                        <span class="labelText1">Phí</span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pure-input">
                                            <input id="checkbox4" name="checkbox" type="checkbox">
                                            <label for="checkbox4">BH Lái, phụ xe, người ngồi trên xe</label>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pure-input">
                                            <input id="checkbox5" name="checkbox" type="checkbox">
                                            <label for="checkbox5">BH Tự nguyện về hàng hóa</label>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pure-input">
                                            <input id="checkbox6" name="checkbox" type="checkbox" checked="checked">
                                            <label for="checkbox6">Vật chất</label>
                                            <div class="check-note">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6">
                                                        <span class="labelText1">Giá trị thẩm định</span>
                                                        <input type="text" class="form-control ">
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <span class="labelText1">Số tiền bảo hiểm</span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-4">
                                                        <span class="labelText1">Phí xe sang</span>
                                                        <input type="text" class="form-control ">
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4">
                                                        <span class="labelText1">Phí vật chất</span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6">
                                                        <span class="labelText1">Mức khấu trừ</span>
                                                        <input type="text" class="form-control ">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <span class="labelText1">Các Điều khoản bổ sung của bảo hiểm vật chất</span>
                                                        <table class="pure-table">
                                                            <tr>
                                                                <th></th>
                                                                <th>V</th>
                                                                <th>Mã</th>
                                                                <th>phụ phí</th>
                                                                <th>phí</th>
                                                                <th>Tên</th>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-caret-right"></i>
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control none-border">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control none-border">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control none-border">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control none-border">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control none-border">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-caret-right"></i>
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control none-border">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control none-border">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control none-border">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control none-border">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control none-border">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i class="fas fa-caret-right"></i>
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control none-border">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control none-border">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control none-border">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control none-border">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control none-border">
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <span class="labelText1">Hình thức thanh toán</span>
                                                <select class="form-control">
                                                    <option>Lựa chọn</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <span class="labelText1">Hình thức trả phí</span>
                                                <select class="form-control">
                                                    <option>Lựa chọn</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="total-list bg-gren total-list-02">
                                    <div class="total-list-show">
                                        <table>
                                            <tr>
                                                <td>Phí chưa thuế VAT</td>
                                                <td>933.000 <sup>₫</sup></td>
                                            </tr>
                                            <tr>
                                                <td>Thuế VAT (10%)</td>
                                                <td>93.300 <sup>₫</sup></td>
                                            </tr>
                                            <tr class="all-total">
                                                <td>
                                                    <strong>Tổng cộng</strong>
                                                </td>
                                                <td>
                                                    <strong>1.026.500 <sup>₫</sup></strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="sub-form bg-gray">
                                    <a href="" class="btn">Bước trước</a>
                                    <button type="submit" class="btn btn-orange">Tạo GCN & Thanh toán</button>
                                </div>
                            </div>
                            <div class="popup-list">
                                <span class="menu-list">
                                    <i class="fas fa-ellipsis-v"></i>
                                    <i class="far fa-times"></i>
                                </span>
                                <ul>
                                    <li>
                                        <a href="">
                                            <i class="fas fa-file-edit"></i>
                                        </a>
                                        <span class="note">Edit</span>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fas fa-file-upload"></i>
                                        </a>
                                        <span class="note">Upload</span>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fas fa-file-times"></i>
                                        </a>
                                        <span class="note">ln GCN</span>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fas fa-print"></i>
                                        </a>
                                        <span class="note">Print</span>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fas fa-file-plus"></i>
                                        </a>
                                        <span class="note">Thêm</span>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fas fa-copy"></i>
                                        </a>
                                        <span class="note">Coppy</span>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="far fa-search"></i>
                                        </a>
                                        <span class="note">Tìm kiếm</span>
                                    </li>
                                </ul>
                            </div>
                        </form>


                        <!--popup-->
                        <div class="modal custom-modal-02" id="myModal-01">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <span class="ttl"><i class="fas fa-info"></i>Thông tin Giấy chứng nhận</span>
                                        <button type="button" class="close" data-dismiss="modal"><i class="far fa-times"></i></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-status">
                                            <div class="img">
                                                <img src="<%= RELATIVE_PATH %>img/index/img-status.png" alt="img">
                                            </div>
                                            <div class="txt">
                                                <h3 class="ttl">Số Hợp đồng</h3>
                                                <span class="coppy">
                                                   4FHZNADGPSGXKICJ6ZKUY5G04NG53D6GTD9RJ6MRFFG13SQYWXROCSWZ2
                                                   <span class="on-coppy">Nhấn vào đây để sao chép</span>
                                               </span>
                                                <h3 class="ttl">ngày nhập</h3>
                                                <p>29/02/2020</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal custom-modal-02" id="myModal-02">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <span class="ttl"><i class="fa fa-phone" aria-hidden="true"></i>Đơn vị hỗ trợ Kênh bán</span>
                                        <button type="button" class="close" data-dismiss="modal"><i class="far fa-times"></i></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="show-modal-body">
                                            <div class="show-left">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <span class="labelText1">Lựa chọn đơn vị PTI</span>
                                                        <select class="form-control">
                                                            <option>Chọn</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <span class="labelText1">Đại diện</span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <span class="labelText1">Ủy quyền</span>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="show-right">
                                                <div class="note-suport">
                                                    <p>
                                                        Phạm Minh Đạo
                                                        <span class="phone">0915.009.868</span>
                                                    </p>
                                                    <p>
                                                        Đỗ Minh Tuấn
                                                        <span class="phone"> 0911.805.444</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-gray">Xác nhận</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end popup-->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="fixd-right">
                        <form>
                            <div class="show-location mb-30">
                                <div class="fill-orther">
                                    <a data-toggle="modal" data-target="#myModal-02">
                                        <i class="fas fa-phone-alt"></i>
                                    </a>
                                    <a data-toggle="modal" data-target="#myModal-01">
                                        <i class="fas fa-info"></i>
                                    </a>
                                </div>
                                <span class="labelText1">Lựa chọn đơn vị Bảo hiểm<sup class="color-red">*</sup></span>
                                <select class="form-control mb-15">
                                    <option>(000) - Văn Phòng</option>
                                </select>
                                <ul>
                                    <li>
                                        <span class="ttl">Mã HD </span>
                                        BCUXL W16S8QK YTPQX BCUX...
                                    </li>
                                    <li>
                                        <span class="ttl">Ngày cập nhật</span>
                                        05/04/2020
                                    </li>
                                    <li>
                                        <span class="ttl">Cán bộ phụ trách </span>
                                        Nguyễn Hồng Oanh
                                    </li>
                                </ul>
                            </div>
                            <div class="show-form show-step mb-30">
                                <div class="img text-center mb-20">
                                    <img src="<%= RELATIVE_PATH %>img/index/step-02.png" alt="img">
                                </div>
                                <ul class="list-step">
                                    <li class="active">
                                        <span>1</span>
                                        Thông tin bên mua và đối tượng được bảo hiểm
                                    </li>
                                    <li class="active">
                                        <span>2</span>
                                        Thông tin Hợp đồng và tính phí bảo hiểm
                                    </li>
                                    <li>
                                        <span>3</span>
                                        Thanh toán & Hoàn thành
                                    </li>
                                </ul>
                            </div>
                            <div class="total-list">
                                <h3 class="total-list-heading">Tính phí</h3>
                               <div class="bg-gren">
                                   <div class="total-list-show">
                                       <table>
                                           <tr>
                                               <td>Phí chưa thuế VAT</td>
                                               <td>933.000 <sup>₫</sup></td>
                                           </tr>
                                           <tr>
                                               <td>Thuế VAT (10%)</td>
                                               <td>93.300 <sup>₫</sup></td>
                                           </tr>
                                           <tr class="all-total">
                                               <td>
                                                   <strong>Tổng cộng</strong>
                                               </td>
                                               <td>
                                                   <strong>1.026.500 <sup>₫</sup></strong>
                                               </td>
                                           </tr>
                                       </table>
                                   </div>
                                   <div class="text-center">
                                       <button type="submit" class="btn">Thanh toán</button>
                                   </div>
                               </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="note-page">
            <span class="close-note-page close-x">
                <i class="fas fa-times-circle"></i>
            </span>
            <p>
                Vui lòng thực hiện thao tác "Lựa trọn đơn vị bảo hiểm"
            </p>
            <p class="text-right">
                <a href="javascript:void(0)" class="close-x">Đồng ý</a>
            </p>
        </div>
    </section>
</main>