<main>
    <section class="sec-dashboard">
        <div class="inner">
            <div class="dashboard-heading">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <div class="dashboard-item">
                            <img src="<%= RELATIVE_PATH %>img/common/icon-02.png" alt="img">
                            <span>
                                Tổng số GCN<br>
                                <strong>1298</strong>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="dashboard-item">
                            <img src="<%= RELATIVE_PATH %>img/common/icon-02.png" alt="img">
                            <span>
                                GCN đã duyệt
                                <strong>1298</strong>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="dashboard-item">
                            <img src="<%= RELATIVE_PATH %>img/common/icon-03.png" alt="img">
                            <span>
                                GCN đang trình
                                <strong>1298</strong>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="dashboard-item">
                            <img src="<%= RELATIVE_PATH %>img/common/icon-04.png" alt="img">
                            <span>
                               GCN không duyệt
                                <strong>1298</strong>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recently">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h2 class="heading">Thống kê</h2>
                        <ul class="recently-note">
                            <li>
                                <span class="bg-01"></span>
                                Thanh toán
                            </li>
                            <li>
                                <span class="bg-02"></span>
                                Thanh toán
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="recently-time">
                            <div class="recently-time-list">
                                <a href="" class="item-btn">Tuần</a>
                                <a href="" class="item-btn active">Tháng</a>
                                <a href="" class="item-btn">Năm</a>
                            </div>
                            <div class="recently-time-list">
                                <a href="" class="item-btn">Hôm nay</a>
                            </div>
                            <div class="recently-time-option">
                                <a href=""><i class="far fa-chevron-down"></i></a>
                                <a href=""><i class="fas fa-sync-alt"></i></a>
                                <a href=""><i class="fas fa-window-close"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-chart">
                <ul class="list-chart">
                    <li>
                        <span style="height: 80%"></span>
                    </li>
                    <li>
                        <span style="height: 60%"></span>
                    </li>
                    <li>
                        <span style="height: 70%"></span>
                    </li>
                    <li>
                        <span style="height: 90%"></span>
                    </li>
                    <li>
                        <span style="height: 80%"></span>
                    </li>
                    <li>
                        <span style="height: 40%"></span>
                    </li>
                    <li>
                        <span style="height: 60%"></span>
                    </li>
                    <li>
                        <span style="height: 90%"></span>
                    </li>
                    <li>
                        <span style="height: 95%"></span>
                    </li>
                    <li>
                        <span style="height: 80%"></span>
                    </li>
                    <li>
                        <span style="height: 40%"></span>
                    </li>
                    <li>
                        <span style="height: 60%"></span>
                    </li>
                    <li>
                        <span style="height: 90%"></span>
                    </li>
                    <li>
                        <span style="height: 80%"></span>
                    </li>
                    <li>
                        <span style="height: 60%"></span>
                    </li>
                    <li>
                        <span style="height: 70%"></span>
                    </li>
                    <li>
                        <span style="height: 90%"></span>
                    </li>
                    <li>
                        <span style="height: 80%"></span>
                    </li>
                    <li>
                        <span style="height: 40%"></span>
                    </li>
                    <li>
                        <span style="height: 60%"></span>
                    </li>
                    <li>
                        <span style="height: 90%"></span>
                    </li>
                    <li>
                        <span style="height: 95%"></span>
                    </li>
                    <li>
                        <span style="height: 80%"></span>
                    </li>
                    <li>
                        <span style="height: 40%"></span>
                    </li>
                    <li>
                        <span style="height: 60%"></span>
                    </li>
                    <li>
                        <span style="height: 90%"></span>
                    </li>
                </ul>
                <style>
                    .main-chart {
                        background: white;
                        background-image: -o-linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 0), -o-linear-gradient(#ccc 1px, transparent 0);
                        background-image: linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 0), linear-gradient(#ccc 1px, transparent 0);
                        background-size: 15px 15px, 15px 15px;
                    }

                    .main-chart .list-chart {
                        height: 300px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        margin: 0 -7px;
                    }

                    @media screen and (max-width: 640px) {
                        .main-chart .list-chart {
                            margin: 0 -0.3vw;
                        }
                    }

                    .main-chart .list-chart li {
                        padding: 0 7px;
                        position: relative;
                        -webkit-box-flex: 1;
                        -ms-flex-positive: 1;
                        flex-grow: 1;
                    }

                    @media screen and (max-width: 640px) {
                        .main-chart .list-chart li {
                            padding: 0 0.3vw;
                        }
                    }

                    .main-chart .list-chart li span {
                        display: block;
                        background: #007cc4;
                        position: absolute;
                        bottom: 0;
                        left: 7px;
                        right: 7px;
                    }

                    @media screen and (max-width: 640px) {
                        .main-chart .list-chart li span {
                            left: 0.3vw;
                            right: 0.3vw;
                        }
                    }
                </style>
            </div>
            <div class="row mh">
                <div class="col-xs-12 col-sm-6">
                    <div class="contract-block">
                        <h2 class="heading color-blue">GCN cập nhật</h2>
                        <div class="table-list-02">
                            <table class="example ">
                                <thead>
                                    <tr>
                                        <th>Mã hợp đồng</th>
                                        <th>Thanh toán</th>
                                        <th>Ngày tạo</th>
                                        <th>Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>HDBHX 4782909</td>
                                        <td>1.25.289 đ</td>
                                        <td>17/3/2020</td>
                                        <td>
                                            <span class="lv lv1">Đã duyệt</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>HDBHX 4782909</td>
                                        <td>1.25.289 đ</td>
                                        <td>17/3/2020</td>
                                        <td>
                                            <span class="lv lv2">Đang trình</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>HDBHX 4782909</td>
                                        <td>1.25.289 đ</td>
                                        <td>17/3/2020</td>
                                        <td>
                                            <span class="lv lv2">Đang trình</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>HDBHX 4782909</td>
                                        <td>1.25.289 đ</td>
                                        <td>17/3/2020</td>
                                        <td>
                                            <span class="lv lv3">Không duyệt</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="contract-block">
                        <h2 class="heading color-blue">Nghiệp vụ vừa xử dựng</h2>
                        <div class="table-list-02 ">
                            <table class="example example-02">
                                <thead>
                                    <tr>
                                        <th>Nghiệp vụ</th>
                                        <th>Đề mục</th>
                                        <th>Ngày sử dụng</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Cấp đơn ô tô
                                        </td>
                                        <td>
                                            Sản phẩm
                                        </td>
                                        <td>
                                            17/3/2020
                                        </td>
                                        <td>
                                            <a href="" class="icon color-red">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                            <a href="" class="icon color-gray">
                                                <i class="fas fa-minus-circle"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Cấp đơn ô tô
                                        </td>
                                        <td>
                                            Sản phẩm
                                        </td>
                                        <td>
                                            17/3/2020
                                        </td>
                                        <td>
                                            <a href="" class="icon color-red">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                            <a href="" class="icon color-gray">
                                                <i class="fas fa-minus-circle"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Cấp đơn ô tô
                                        </td>
                                        <td>
                                            Sản phẩm
                                        </td>
                                        <td>
                                            17/3/2020
                                        </td>
                                        <td>
                                            <a href="" class="icon color-red">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                            <a href="" class="icon color-gray">
                                                <i class="fas fa-minus-circle"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Cấp đơn ô tô
                                        </td>
                                        <td>
                                            Sản phẩm
                                        </td>
                                        <td>
                                            17/3/2020
                                        </td>
                                        <td>
                                            <a href="" class="icon color-red">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                            <a href="" class="icon color-gray">
                                                <i class="fas fa-minus-circle"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>