<main>
    <section class="sec-heading heading-fixd">
        <div class="inner">
            <h1 class="ttl">
               Mã chi nhánh
            </h1>
            <ul class="breadcrumb">
                <li>
                    <a href=""><i class="fas fa-home"></i></a>
                </li>
                <li>
                    <a href="">Hệ thống mã</a>
                </li>
                <li>
                    Mã chi nhánh
                </li>
            </ul>
        </div>
    </section>
    <section class="sec-content">
        <div class="inner inner-1200 content-new">
            <div class="content-block content-block-02">
                <form>
                    <div class="show-form">
                        <div class="row system">
                            <div class="col-xs-12 col-sm-6">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <h2 class="title1">
                                            Sửa/ Nhập mới
                                        </h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 text-right">
                                        <button type="reset" class="btn-item">
                                            <img src="<%= RELATIVE_PATH %>img/common/icon-06.png" alt="img">
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="labelText1">Mã</span>
                                        <input type="text" class="form-control" value="9028">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="labelText1">Mã CT</span>
                                        <input type="text" class="form-control" value="9028">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span class="labelText1">Tên chi nhánh / PGD</span>
                                        <input type="text" class="form-control" value="CN Đồng Nai">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span class="labelText1">Địa chỉ</span>
                                        <input type="text" class="form-control" value="Tầng 2, Tòa nhà văn phòng KCN Nhơn Trạch 3">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="labelText1">Đại diện</span>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="labelText1">Chức vụ</span>
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="labelText1">Mã thuế</span>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="labelText1">Email</span>
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="labelText1">Phone</span>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="labelText1">Fax</span>
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span class="labelText1">Tài khoản ngân hàng</span>
                                        <input type="text" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span class="labelText1">Chi nhánh</span>
                                        <input type="text" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="labelText1">Loại</span>
                                        <input type="text" class="form-control bg-line-yellow" value="K">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="labelText1">Ngày KT</span>
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <h2 class="title1">
                                    Danh sách 81 mã
                                </h2>
                                <table class="table-list">
                                    <thead>
                                    <tr>
                                        <th>Mã</th>
                                        <th>Tên chi nhánh</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><i class="fa fa-caret-right" aria-hidden="true"></i>8009</td>
                                        <td>8029-CN Đồng Nai</td>
                                    </tr>
                                    <tr class="active">
                                        <td><i class="fa fa-caret-right" aria-hidden="true"></i>8009</td>
                                        <td>8029-CN Đồng Nai</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-caret-right" aria-hidden="true"></i>8009</td>
                                        <td>8029-CN Đồng Nai</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-caret-right" aria-hidden="true"></i>8009</td>
                                        <td>8029-CN Đồng Nai</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-caret-right" aria-hidden="true"></i>8009</td>
                                        <td>8029-CN Đồng Nai</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-caret-right" aria-hidden="true"></i>8009</td>
                                        <td>8029-CN Đồng Nai</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-caret-right" aria-hidden="true"></i>8009</td>
                                        <td>8029-CN Đồng Nai</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-caret-right" aria-hidden="true"></i>8009</td>
                                        <td>8029-CN Đồng Nai</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-caret-right" aria-hidden="true"></i>8009</td>
                                        <td>8029-CN Đồng Nai</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-caret-right" aria-hidden="true"></i>8009</td>
                                        <td>8029-CN Đồng Nai</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="popup-list">
                                <span class="menu-list">
                                    <i class="fas fa-ellipsis-v"></i>
                                    <i class="far fa-times"></i>
                                </span>
                        <ul>
                            <li>
                                <a href="">
                                    <i class="fas fa-file-edit"></i>
                                </a>
                                <span class="note">Edit</span>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-file-upload"></i>
                                </a>
                                <span class="note">Upload</span>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-file-times"></i>
                                </a>
                                <span class="note">ln GCN</span>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-print"></i>
                                </a>
                                <span class="note">Print</span>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-file-plus"></i>
                                </a>
                                <span class="note">Thêm</span>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-copy"></i>
                                </a>
                                <span class="note">Coppy</span>
                            </li>
                            <li>
                                <a href="">
                                    <i class="far fa-search"></i>
                                </a>
                                <span class="note">Tìm kiếm</span>
                            </li>
                        </ul>
                    </div>
                </form>

            </div>
        </div>
    </section>
</main>