<main>
    <section class="sec-heading heading-fixd">
        <div class="inner">
            <h1 class="ttl">
                Mã chi nhánh
            </h1>
            <ul class="breadcrumb">
                <li>
                    <a href=""><i class="fas fa-home"></i></a>
                </li>
                <li>
                    <a href="">Hệ thống mã</a>
                </li>
                <li>
                    Mã chi nhánh
                </li>
            </ul>
        </div>
    </section>
    <section class="sec-content">
        <div class="inner inner-1200 content-new">
            <div class="content-block content-block-02">
                <form>
                    <div class="show-form">
                       <div class="code-user">
                           <div class="code-block">
                               <div class="items">
                                   <span class="labelText1">Chi nhánh</span>
                                   <select class="form-control">
                                       <option>8071 - Chi nhánh Bắc Ninh</option>
                                   </select>
                               </div>
                               <div class="items">
                                   <span class="labelText1">Mã khối</span>
                                   <select class="form-control">
                                       <option>Chọn</option>
                                   </select>
                               </div>
                               <div class="items">
                                   <span class="labelText1">Phòng ban</span>
                                   <select class="form-control">
                                       <option>Chọn</option>
                                   </select>
                               </div>
                               <div class="items-orther">
                                   <button type="button" class="btn-item">
                                       <img src="<%= RELATIVE_PATH %>img/common/icon-05.png" alt="img">
                                   </button>
                                   <button type="reset" class="btn-item">
                                       <img src="<%= RELATIVE_PATH %>img/common/icon-06.png" alt="img">
                                   </button>
                               </div>
                           </div>
                           <h2 class="title1">
                               <span>Danh sách có 237 mã</span>
                           </h2>
                           <div class="user-scroll">
                               <table class="table-user">
                                   <thead>
                                   <tr>
                                       <th>Họ tên</th>
                                       <th>mã đăng nhập</th>
                                       <th>mã CN</th>
                                       <th>Khối</th>
                                       <th>phòng ban</th>
                                       <th>Ngày ĐN</th>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   <tr data-toggle="modal" data-target="#user-01">
                                       <td>
                                           <i class="fas fa-info-circle"></i>
                                           <strong class="color-red">demo popup</strong>
                                       </td>
                                       <td>buithithuy@shinhan.com</td>
                                       <td>8071</td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                   </tr>
                                   <tr data-toggle="modal" data-target="#user-02">
                                       <td>
                                           <i class="fas fa-info-circle"></i>
                                           Bùi Thị Thủy
                                       </td>
                                       <td>buithithuy@shinhan.com</td>
                                       <td>8071</td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                   </tr>
                                   <tr data-toggle="modal" data-target="#user-03">
                                       <td>
                                           <i class="fas fa-info-circle"></i>
                                           Bùi Thị Thủy
                                       </td>
                                       <td>buithithuy@shinhan.com</td>
                                       <td>8071</td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                   </tr>
                                   <tr data-toggle="modal" data-target="#user-04">
                                       <td>
                                           <i class="fas fa-info-circle"></i>
                                           Bùi Thị Thủy
                                       </td>
                                       <td>buithithuy@shinhan.com</td>
                                       <td>8071</td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                   </tr>
                                   <tr data-toggle="modal" data-target="#user-05">
                                       <td>
                                           <i class="fas fa-info-circle"></i>
                                           Bùi Thị Thủy
                                       </td>
                                       <td>buithithuy@shinhan.com</td>
                                       <td>8071</td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                   </tr>
                                   </tbody>
                               </table>
                           </div>
                           <ul class="pagination">
                               <li class="page-item disabled">
                                   <a class="page-link" href="#" tabindex="-1">Previous</a>
                               </li>
                               <li class="page-item"><a class="page-link" href="#">1</a></li>
                               <li class="page-item active">
                                   <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                               </li>
                               <li class="page-item"><a class="page-link" href="#">3</a></li>
                               <li class="page-item">
                                   <a class="page-link" href="#">Next</a>
                               </li>
                           </ul>



                            <!--popup-user-->
                           <div class="modal custom-modal-02" id="user-01">
                               <div class="modal-dialog">
                                   <div class="modal-content">
                                       <div class="modal-header">
                                           <span class="ttl"><i class="fas fa-info"></i>Mã người sử dụng</span>
                                           <button type="button" class="close" data-dismiss="modal"><i class="far fa-times"></i></button>
                                       </div>
                                       <div class="modal-body">
                                           <div class="modal-user">
                                               <div class="show-form">
                                                   <div class="item">
                                                       <h2 class="title1">
                                                           Sửa/ Nhập mới
                                                       </h2>
                                                       <div class="row">
                                                           <div class="col-xs-12 col-sm-6">
                                                               <span class="labelText1">Mã đăng nhập / Email<sup class="color-red">*</sup></span>
                                                               <input type="text" class="form-control" value="chuthithuylinh@shinhanbank.com">
                                                           </div>
                                                           <div class="col-xs-12 col-sm-6">
                                                               <span class="labelText1">Họ tên Tên<sup class="color-red">*</sup></span>
                                                               <input type="text" class="form-control" value="Chu Thị Thùy Linh">
                                                           </div>
                                                       </div>
                                                       <div class="row">
                                                           <div class="col-xs-12 col-sm-6">
                                                               <span class="labelText1">Chi nhánh<sup class="color-red">*</sup></span>
                                                               <select class="form-control">
                                                                   <option>8071 - Chi nhánh Bắc Ninh</option>
                                                               </select>
                                                           </div>
                                                           <div class="col-xs-12 col-sm-6">
                                                               <span class="labelText1">Mã<sup class="color-red">*</sup></span>
                                                               <input type="text" class="form-control" value="17603374">
                                                           </div>
                                                       </div>
                                                       <div class="row">
                                                           <div class="col-xs-12 col-sm-6">
                                                               <span class="labelText1">Khối</span>
                                                               <select class="form-control">
                                                                   <option>8071 - Chi nhánh Bắc Ninh</option>
                                                               </select>
                                                           </div>
                                                           <div class="col-xs-12 col-sm-6">
                                                               <span class="labelText1">Phân quyền</span>
                                                               <input type="text" class="form-control odd" value="Trưởng phòng quản lý">
                                                           </div>
                                                       </div>
                                                       <div class="row">
                                                           <div class="col-xs-12 col-sm-6">
                                                               <span class="labelText1">Phòng ban</span>
                                                               <select class="form-control">
                                                                   <option>Chọn</option>
                                                               </select>
                                                           </div>
                                                           <div class="col-xs-12 col-sm-6">
                                                               <span class="labelText1">Url</span>
                                                               <input type="text" class="form-control odd" placeholder="https://">
                                                           </div>
                                                       </div>
                                                       <div class="sub-form-user">
                                                           <button type="submit" class="btn btn-orange"><i class="fas fa-check"></i> NHập</button>
                                                           <button type="submit" class="btn "><i class="fas fa-trash-alt"></i> Xóa</button>
                                                       </div>
                                                   </div>
                                                   <div class="item">
                                                       <h2 class="title1">
                                                           Đổi mật khẩu
                                                       </h2>
                                                       <div class="row">
                                                           <div class="col-xs-12 col-sm-6">
                                                               <span class="labelText1">Mật khẩu mới</span>
                                                               <div class="change">
                                                                   <input type="password" class="form-control">
                                                                   <span class="fill"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                                               </div>
                                                           </div>
                                                           <div class="col-xs-12 col-sm-6">
                                                               <span class="labelText1">Nhập mật khẩu hiện tại</span>
                                                               <div class="change">
                                                                   <input type="password" class="form-control">
                                                                   <span class="fill"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="row">
                                                           <div class="col-xs-12 col-sm-6">
                                                               <span class="labelText1">Nhập lại Mật khẩu mới</span>
                                                               <div class="change">
                                                                   <input type="text" class="form-control">
                                                                   <span class="fill"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                                                               </div>
                                                               <span class="error color-red"><i>Mật khẩu chưa khớp</i></span>
                                                           </div>
                                                           <div class="col-xs-12 col-sm-6">
                                                               <button type="submit" class="btn btn-orange"><i class="fas fa-check"></i> NHập</button>
                                                           </div>
                                                       </div>
                                                   </div>
                                                   <div class="item">
                                                       <h2 class="title1">
                                                          Phân quyền
                                                       </h2>
                                                       <div class="row">
                                                           <div class="col-xs-12 col-sm-6">
                                                               <span class="labelText1">Vai trò</span>
                                                               <select class="form-control">
                                                                   <option>Trưởng phòng quản lý</option>
                                                               </select>
                                                           </div>
                                                       </div>
                                                        <table class="table-code">
                                                            <tr>
                                                                <th></th>
                                                                <th>Mã</th>
                                                                <th>nhập</th>
                                                                <th>xem</th>
                                                                <th>q.Lý</th>
                                                            </tr>
                                                            <tr>
                                                                <td>Hệ thống</td>
                                                                <td>
                                                                    <span class="color-red">K</span>
                                                                </td>
                                                                <td>
                                                                    <span class="color-red">K</span>
                                                                </td>
                                                                <td>
                                                                    <span class="color-red">C</span>
                                                                </td>
                                                                <td>
                                                                    <span class="color-red">K</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Mã Người sử dụng</td>
                                                                <td>
                                                                    <span class="color-red">K</span>
                                                                </td>
                                                                <td>
                                                                    <span class="color-red">K</span>
                                                                </td>
                                                                <td>
                                                                    <span class="color-red">C</span>
                                                                </td>
                                                                <td>
                                                                    <span class="color-red">K</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Nghiệp vụ xe cơ giới</td>
                                                                <td>
                                                                    <span class="color-red">K</span>
                                                                </td>
                                                                <td>
                                                                    <span class="color-red">K</span>
                                                                </td>
                                                                <td>
                                                                    <span class="color-red">C</span>
                                                                </td>
                                                                <td>
                                                                    <span class="color-red">K</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Tài sản kỹ thuật</td>
                                                                <td>
                                                                    <span class="color-red">K</span>
                                                                </td>
                                                                <td>
                                                                    <span class="color-red">K</span>
                                                                </td>
                                                                <td>
                                                                    <span class="color-red">C</span>
                                                                </td>
                                                                <td>
                                                                    <span class="color-red">K</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Bảo án tín dụng</td>
                                                                <td>
                                                                    <span class="color-red">K</span>
                                                                </td>
                                                                <td>
                                                                    <span class="color-red">K</span>
                                                                </td>
                                                                <td>
                                                                    <span class="color-red">C</span>
                                                                </td>
                                                                <td>
                                                                    <span class="color-red">K</span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                       <div class="sub-form-user">
                                                           <button type="submit" class="btn btn-orange"><i class="fas fa-check"></i> NHập</button>
                                                       </div>
                                                   </div>
                                               </div>

                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>

                    </div>
                </form>
            </div>
        </div>
    </section>
</main>