<main>
    <section class="sec-heading bg-gray">
        <div class="inner">
            <h1 class="ttl">
                Thanh toán
            </h1>
            <ul class="dots">
                <li class="past bg-blue"></li>
                <li class="past bg-blue"></li>
                <li class="past active bg-blue"></li>
            </ul>
        </div>
    </section>
    <section class="sec-content">
        <div class="inner">
            <form>

                <div class="payments-block">
                    <h2 class="heading">Kiểm tra giao dịch</h2>
                    <div class="payments-bar">
                        <p>
                            Hệ thống đang tiếp nhận và xử lý dữ liệu chuyển về từ Giao dịch ngân<br>
                            hàng, việc này mất một khoảng thời gian, xin vui lòng đợi
                        </p>
                        <div class="bar">
                            <span style="width: 40%"></span>
                        </div>
                    </div>
                </div>

                <div class="payments-block">
                    <h2 class="heading">Thanh toán thành công</h2>
                    <div class="payments-bar">
                        <p>
                            Cảm ơn bạn đã nhập và thanh toán thành công Giấy chứng nhận <br>
                            Xe cơ giới có Số hợp đồng <strong>HDXCG 29382</strong>, lập ngày <strong>16/12/2019</strong>
                        </p>
                        <div class="sub-form sub-form-left">
                            <a href="" class="btn">Trang chủ</a>
                            <button type="submit" class="btn btn-orange">Nhập mới</button>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </section>
</main>