<main>
    <div class="logo-login">
        <a href="">
            <img src="<%= RELATIVE_PATH %>img/common/logo-02.png" alt="">
        </a>
        <a href="">
            <img src="<%= RELATIVE_PATH %>img/common/logo-03.png" alt="">
        </a>
    </div>
    <div class="system-block">
        <div class="system-about">
            <div class="img">
                <img src="<%= RELATIVE_PATH %>img/index/item-login.png" alt="">
            </div>
            <div class="txt text-center">
                <h1 class="ttl">
                    HỆ THỐNG BẢO LÃNH VIỆN PHÍ<br class="pc-sm">
                    DÀNH CHO KÊNH KHAI THÁC
                </h1>
                <p>Distribution Chanel. V-SIS Digital Insurance Platform</p>
                <a href="">Xem giới thiệu</a>
            </div>
        </div>
        <div class="system-login">
            <div class="img">
                <img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="">
            </div>
            <h2 class="ttl">Đăng nhập hệ thống</h2>
            <form>
                <div class="item">
                    <label>
                        Mã NSD / Email
                    </label>
                    <input type="text" class="form-control" placeholder="account">
                </div>
                <div class="item">
                    <label>
                        Mật khẩu
                    </label>
                    <input type="password" class="form-control" placeholder="password">
                </div>
                <div class="item text-center">
                    <button type="submit" class="btn btn-blue w100">ĐĂNG NHẬP</button>
                    <a href="javascript:void(0)" class="open-suport">Tôi không đăng nhập được</a>
                </div>
            </form>

            <!--suport-->
            <div class="suport-new">
                <div class="show">
                    <h2 class="heading-popup-new text-center">Hỗ trợ đăng nhập</h2>
                    <h3 class="ttl">
                        Cách 1
                    </h3>
                    <p>
                        Điền email đăng nhập vào form bên dưới. Hệ thống sẽ gửi thông tin cấp lại mật khẩu về tài khoản email này của bạn.
                    </p>
                    <form>
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Email">
                        <button type="submit" class="btn btn-orange">Cấp lại mật khẩu</button>
                    </form>
                    <h3 class="ttl">
                        Cách 2
                    </h3>
                    <p>
                        Vui lòng liên hệ với cán bộ kỹ thuật để được hỗ trợ.
                    </p>
                    <ul>
                        <li><i class="fas fa-phone-alt"></i>Ms.Dung: 0904 51 2266</li>
                        <li><i class="fas fa-phone-alt"></i>Ms.Bich: 0911 686 696</li>
                        <li><i class="fas fa-phone-alt"></i>Ms.Chi: 038 753 9062</li>
                        <li><i class="fas fa-phone-alt"></i>Ms.Linh: 0942 088 729</li>
                        <li><i class="fas fa-phone-alt"></i>Mr.Đạo: 0915 009 868</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</main>