<main>
    <div class="logo-login logo-login-02">
        <a href="">
            <img src="<%= RELATIVE_PATH %>img/common/logo-02.png" alt="">
        </a>
        <a href="tel:1900545475" class="phone">
            <i class="fas fa-headset"></i>1900 54 54 75
        </a>
    </div>
    <div class="system-block system-block-02">
        <div class="system-about">
            <div class="img">
                <img src="<%= RELATIVE_PATH %>img/index/item-login-02.png" alt="">
            </div>
        </div>
        <div class="system-login">
            <div class="img">
                <img src="<%= RELATIVE_PATH %>img/common/logo-white.png" alt="">
            </div>
            <h2 class="ttl">Chào mừng đến Claim Center!</h2>
            <form>
                <div class="item">
                    <input type="text" class="form-control" placeholder="account">
                    <select class="form-control">
                        <option>1</option>
                    </select>
                </div>
                <div class="item">
                    <input type="text" class="form-control" placeholder="Đơn vị">
                </div>
                <div class="item">
                    <input type="text" class="form-control" placeholder="Mã">
                </div>
                <div class="item">
                    <input type="password" class="form-control" placeholder="Mật khẩu email">
                    <span class="show-password"><i class="far fa-eye"></i></span>
                </div>
                <div class="item text-center">
                    <button type="submit" class="btn btn-default w100">ĐĂNG NHẬP</button>
                    <a href="javascript:void(0)" class="open-suport">Tôi không đăng nhập được</a>
                </div>
                <div class="app">
                    <a href="">
                        <img src="<%= RELATIVE_PATH %>img/index/app.png" alt="">
                    </a>
                    <a href="">
                        <img src="<%= RELATIVE_PATH %>img/index/google.png" alt="">
                    </a>
                </div>
            </form>

            <!--suport-->
            <div class="suport-new">
                <div class="show">
                    <span class="suport-new-close"><i class="fal fa-times-square"></i></span>
                    <h2 class="heading-popup-new text-center">Hỗ trợ đăng nhập</h2>
                    <h3 class="ttl">
                        Cách 1
                    </h3>
                    <p>
                        Điền email đăng nhập vào form bên dưới. Hệ thống sẽ gửi thông tin cấp lại mật khẩu về tài khoản email này của bạn.
                    </p>
                    <form>
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Email">
                        <button type="submit" class="btn btn-orange">Cấp lại mật khẩu</button>
                    </form>
                    <h3 class="ttl">
                        Cách 2
                    </h3>
                    <p>
                        Vui lòng liên hệ với cán bộ kỹ thuật để được hỗ trợ.
                    </p>
                    <ul>
                        <li><i class="fas fa-phone-alt"></i>Ms.Dung: 0904 51 2266</li>
                        <li><i class="fas fa-phone-alt"></i>Ms.Bich: 0911 686 696</li>
                        <li><i class="fas fa-phone-alt"></i>Ms.Chi: 038 753 9062</li>
                        <li><i class="fas fa-phone-alt"></i>Ms.Linh: 0942 088 729</li>
                        <li><i class="fas fa-phone-alt"></i>Mr.Đạo: 0915 009 868</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</main>