<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title><%= pageData.title %></title>
	<meta name="description" content="<%= pageData.description %>">
	<meta name="keywords" content="<%= pageData.keyword %>">
	<meta name="format-detection" content="telephone=no">

	<link type="text/css" rel="stylesheet" href="<%= RELATIVE_PATH %>css/all.min.css">
	<link type="text/css" rel="stylesheet" href="<%= RELATIVE_PATH %>css/fontawesome.min.css">
	<link type="text/css" rel="stylesheet" href="<%= RELATIVE_PATH %>css/bootstrap.min.css">
	<% if(pageData.template == "login" || pageData.template == "login-02" || pageData.template == "login-03"){ %>
		<link type="text/css" rel="stylesheet" href="<%= RELATIVE_PATH %>css/login.css">
	<% }
	else { %>
		<link type="text/css" rel="stylesheet" href="<%= RELATIVE_PATH %>css/jquery.simplyscroll.css">
		<link type="text/css" rel="stylesheet" href="<%= RELATIVE_PATH %>css/styles.css">
	<% } %>

</head>
<body>

	<% if(pageData.template == "login" || pageData.template == "login-02" || pageData.template == "login-03"){ %>
		<%- include(pageData.template) %>
    	<% include common/_suport-02.ejs %>
	<% }
	else { %>
		<div class="wraper">
			<% include common/_header.ejs %>
			<%- include(pageData.template) %>
			<% include common/_footer.ejs %>
		</div>
	<% } %>



	<script src="<%= RELATIVE_PATH %>js/jquery-2.1.3.min.js"></script>
	<script src="<%= RELATIVE_PATH %>js/bootstrap.min.js"></script>
	<script src="<%= RELATIVE_PATH %>js/jquery.mmenu.min.all.js"></script>
	<script src="<%= RELATIVE_PATH %>js/setting.js"></script>
</body>
</html>