<main>
    <section class="sec-heading bg-gray">
        <div class="inner">
            <h1 class="ttl">
                Thanh toán
            </h1>
            <ul class="dots">
                <li class="past bg-blue"></li>
                <li class="active bg-blue"></li>
                <li></li>
            </ul>
        </div>
    </section>
    <section class="sec-content">
        <div class="inner">
            <form>
                <div class="payments-note">
                    <p>
                        Bạn đang thao tác thanh toán cho “Giấy chứng nhận xe cơ giới” được điều hướng từ  website “Hệ thống cấp đơn điện tử
                        dành cho Kênh cung cấp” sang Cổng thanh toán PTI (PTI Payent)
                    </p>
                    <span class="close-payments"><i class="far fa-window-close"></i></span>
                </div>
                <div class="payments-block">
                    <h2 class="heading">Lựa chọn phương thức thanh toán</h2>
                    <ul class="payments-show">
                        <li class="item">
                            <div class="pure-input">
                                <input id="radio1" name="radio" type="radio" class="radio" checked="checked">
                                <label for="radio1">Thanh toán qua thẻ tín dụng /ghi nợ Quốc tế (VISA, MASTERCARD)<img src="<%= RELATIVE_PATH %>img/index/card.png" alt="img"></label>
                                <div class="payments-pure-input">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-3 mb-0">
                                            <span class="labelText1">Tên ghi nhận thẻ</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <input type="text" class="form-control" value="NGUYEN ANH DUC">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-3 mb-0"">
                                            <span class="labelText1">Thẻ</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <input type="text" class="form-control atm" placeholder="Số thẻ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="pure-input">
                                <input id="radio2" name="radio" type="radio" class="radio">
                                <label for="radio2">Thanh toán Online qua thẻ ATM nội địa (Vietcombank, Techcombank,...)</label>
                                <div class="payments-pure-input">
                                    <p>Lựa chọn Ngân hàng trong danh sách bên dưới dùng để thanh toán</p>
                                    <ul class="show-card">
                                        <li class="active">
                                            <span>
                                                <img src="<%= RELATIVE_PATH %>img/index/vcb.png" alt="img">
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <img src="<%= RELATIVE_PATH %>img/index/tcb.png" alt="img">
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <img src="<%= RELATIVE_PATH %>img/index/vtb.png" alt="img">
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <img src="<%= RELATIVE_PATH %>img/index/mb.png" alt="img">
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <img src="<%= RELATIVE_PATH %>img/index/mtb.png" alt="img">
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <img src="<%= RELATIVE_PATH %>img/index/sab.png" alt="img">
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <img src="<%= RELATIVE_PATH %>img/index/tpb.png" alt="img">
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <img src="<%= RELATIVE_PATH %>img/index/bidv.png" alt="img">
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <img src="<%= RELATIVE_PATH %>img/index/scb.png" alt="img">
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="pure-input">
                                <input id="radio3" name="radio" type="radio" class="radio">
                                <label for="radio3">Thanh toán chuyển khoản qua Internet Banking</label>
                                <div class="payments-pure-input payments-pure-hd">
                                    <img src="<%= RELATIVE_PATH %>img/index/hd.png" alt="img">
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="pure-input">
                                <input id="radio4" name="radio" type="radio" class="radio">
                                <label for="radio4">Thanh toán online bằng ví Việt</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="payments-block">
                    <h2 class="heading">Thông tin hóa đơn</h2>
                    <div class="bill-block">
                        <table>
                            <tr>
                                <th>Mã đơn hàng</th>
                                <td>XCG102998290</td>
                            </tr>
                            <tr>
                                <th>Người nhận</th>
                                <td>Nguyễn Anh Đức</td>
                            </tr>
                            <tr>
                                <th>Điện thoại</th>
                                <td>+84917299238</td>
                            </tr>
                            <tr>
                                <th>Công ty</th>
                                <td>Outline Design</td>
                            </tr>
                            <tr>
                                <th>Địa chỉ</th>
                                <td>36 Hai Bà Trưng, Hoàn Kiếm, Hà Nội</td>
                            </tr>
                        </table>
                    </div>
                    <div class="sub-form bg-gray">
                        <button type="submit" class="btn btn-orange">Thanh toán</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>