<main>
    <section class="sec-heading heading-02 ">
        <div class="inner">
            <ul class="breadcrumb">
                <li>
                    <a href=""><i class="fas fa-home"></i></a>
                </li>
                <li>
                    Tìm duyệt
                </li>
            </ul>
            <h1 class="ttl">
                Tìm giấy chứng nhận
            </h1>

            <div class="hidden-block">
                <span><i class="fa fa-minus-circle" aria-hidden="true"></i>Ẩn tìm kiếm nâng cao</span>
            </div>
            <form>
                <div id="menu_UPa_ct" class="search-block">
                    <div class="row d-flex">
                        <div class="col-xs-12 col-sm-3">
                            <span class="control-label">Từ ngày</span>
                            <input type="text" class="form-control none-border bg-calendar" value="16/12/2019">
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <span class="control-label">Đến ngày</span>
                            <input type="text" class="form-control none-border bg-calendar" value="16/12/2019">
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <span class="control-label">Trạng thái</span>
                            <select class="form-control none-border">
                                <option>Đang trình</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <span class="control-label">Nghiệp vụ</span>
                            <select class="form-control none-border">
                                <option>Bảo an tín dụng</option>
                                <option>Xe cơ giới</option>
                                <option>Bảo hiểm nhà</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <span class="control-label">Khối</span>
                            <select class="form-control none-border">
                                <option>Chọn</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <span class="control-label">Chi nhánh / PGD</span>
                            <select class="form-control none-border">
                                <option>8159 — Hội sở Shinhan Bank</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <span class="control-label">Sale ID</span>
                            <select class="form-control none-border">
                                <option>Chọn</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <span class="control-label">Hợp đồng vay</span>
                            <input type="text" class="form-control none-border">
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <span class="control-label">Giấy Chứng nhận</span>
                            <input type="text" class="form-control none-border">
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <span class="control-label">Số CMND/CCCD</span>
                            <input type="text" class="form-control none-border">
                        </div>
                        <div class="col-xs-12 col-sm-3 d-flex">
                            <button type="button" class="btn-item">
                                <img src="<%= RELATIVE_PATH %>img/common/icon-05.png" alt="img">
                            </button>
                            <button type="reset" class="btn-item">
                                <img src="<%= RELATIVE_PATH %>img/common/icon-06.png" alt="img">
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="sec-content">
        <div class="show-serach">
            <h2 class="ttl">Có 09 kết quả</h2>
            <table class="gridX">
                <thead>
                    <tr>
                        <th><span class="check"></span></th>
                        <th>Ngày</th>
                        <th>Số Hợp đồng</th>
                        <th>tên</th>
                        <th>đối tượng</th>
                        <th>Phí (VND)</th>
                        <th>tình trạng</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <i class="fas fa-caret-right"></i>
                            <span class="check"></span>
                        </td>
                        <td>
                            19/12/2019
                        </td>
                        <td>
                            <div class="fill-txt">
                                <span class="fill-txt-odd">HDXCG 200191918HDXCG 200191918HDXCG 200191918</span>
                                <span class="fill-txt-note">
                                    HDXCG 200191918HDXCG 200191918HDXCG 200191918
                                </span>
                            </div>
                        </td>
                        <td>Nguyễn Việt Dũng</td>
                        <td></td>
                        <td>220.000</td>
                        <td>Đang trình</td>
                        <td>
                            <div class="show-menu-item">
                                <span class="open-show" data-toggle="dropdown">
                                    <i class="far fa-ellipsis-h"></i>
                                </span>
                                <ul class="show-serach-item dropdown-menu">
                                    <li>
                                        <a href=""><i class="fas fa-eye"></i>Duyệt</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fal fa-folder-open"></i>File</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="far fa-file-image"></i>File ảnh</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="far fa-file-archive"></i>Yêu cầu Hủy</a>
                                    </li>
                                    <li>
                                        <a  data-toggle="modal" data-target="#myModal-file"><i class="fas fa-print"></i>In</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-caret-right"></i>
                            <span class="check"></span>
                        </td>
                        <td>
                            19/12/2019
                        </td>
                        <td>
                            <div class="fill-txt">
                                <span class="fill-txt-odd">demo demo demo demo demo demo demo demo demo demo demo </span>
                                <span class="fill-txt-note">
                                    demo demo demo demo demo demo demo demo demo demo demo
                                </span>
                            </div>
                        </td>
                        <td>Nguyễn Việt Dũng</td>
                        <td></td>
                        <td>220.000</td>
                        <td>Đang trình</td>
                        <td>
                            <div class="show-menu-item">
                                <span class="open-show" data-toggle="dropdown">
                                    <i class="far fa-ellipsis-h"></i>
                                </span>
                                <ul class="show-serach-item dropdown-menu">
                                    <li>
                                        <a href=""><i class="fas fa-eye"></i>Duyệt</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fal fa-folder-open"></i>File</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="far fa-file-image"></i>File ảnh</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="far fa-file-archive"></i>Yêu cầu Hủy</a>
                                    </li>
                                    <li>
                                        <a data-toggle="modal" data-target="#myModal-file"><i class="fas fa-print"></i>In</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-caret-right"></i>
                            <span class="check"></span>
                        </td>
                        <td>
                            19/12/2019
                        </td>
                        <td>
                            <div class="fill-txt">
                                <span class="fill-txt-odd">demo demo demo demo demo demo demo demo demo demo demo </span>
                                <span class="fill-txt-note">
                                    demo demo demo demo demo demo demo demo demo demo demo
                                </span>
                            </div>
                        </td>
                        <td>Nguyễn Việt Dũng</td>
                        <td></td>
                        <td>220.000</td>
                        <td>Đang trình</td>
                        <td>
                            <div class="show-menu-item">
                                <span class="open-show" data-toggle="dropdown">
                                    <i class="far fa-ellipsis-h"></i>
                                </span>
                                <ul class="show-serach-item dropdown-menu">
                                    <li>
                                        <a href=""><i class="fas fa-eye"></i>Duyệt</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fal fa-folder-open"></i>File</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="far fa-file-image"></i>File ảnh</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="far fa-file-archive"></i>Yêu cầu Hủy</a>
                                    </li>
                                    <li>
                                        <a  data-toggle="modal" data-target="#myModal-file"><i class="fas fa-print"></i>In</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-caret-right"></i>
                            <span class="check"></span>
                        </td>
                        <td>
                            19/12/2019
                        </td>
                        <td>
                            <div class="fill-txt">
                                <span class="fill-txt-odd">demo demo demo demo demo demo demo demo demo demo demo </span>
                                <span class="fill-txt-note">
                                    demo demo demo demo demo demo demo demo demo demo demo
                                </span>
                            </div>
                        </td>
                        <td>Nguyễn Việt Dũng</td>
                        <td></td>
                        <td>220.000</td>
                        <td>Đang trình</td>
                        <td>
                            <div class="show-menu-item">
                                <span class="open-show" data-toggle="dropdown">
                                    <i class="far fa-ellipsis-h"></i>
                                </span>
                                <ul class="show-serach-item dropdown-menu">
                                    <li>
                                        <a href=""><i class="fas fa-eye"></i>Duyệt</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fal fa-folder-open"></i>File</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="far fa-file-image"></i>File ảnh</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="far fa-file-archive"></i>Yêu cầu Hủy</a>
                                    </li>
                                    <li>
                                        <a data-toggle="modal" data-target="#myModal-file"><i class="fas fa-print"></i>In</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-caret-right"></i>
                            <span class="check"></span>
                        </td>
                        <td>
                            19/12/2019
                        </td>
                        <td>
                            <div class="fill-txt">
                                <span class="fill-txt-odd">demo demo demo demo demo demo demo demo demo demo demo </span>
                                <span class="fill-txt-note">
                                    demo demo demo demo demo demo demo demo demo demo demo
                                </span>
                            </div>
                        </td>
                        <td>Nguyễn Việt Dũng</td>
                        <td></td>
                        <td>220.000</td>
                        <td>Đang trình</td>
                        <td>
                            <div class="show-menu-item">
                                <span class="open-show" data-toggle="dropdown">
                                    <i class="far fa-ellipsis-h"></i>
                                </span>
                                <ul class="show-serach-item dropdown-menu">
                                    <li>
                                        <a href=""><i class="fas fa-eye"></i>Duyệt</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fal fa-folder-open"></i>File</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="far fa-file-image"></i>File ảnh</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="far fa-file-archive"></i>Yêu cầu Hủy</a>
                                    </li>
                                    <li>
                                        <a data-toggle="modal" data-target="#myModal-file"><i class="fas fa-print"></i>In</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-caret-right"></i>
                            <span class="check"></span>
                        </td>
                        <td>
                            19/12/2019
                        </td>
                        <td>
                            <div class="fill-txt">
                                <span class="fill-txt-odd">demo demo demo demo demo demo demo demo demo demo demo </span>
                                <span class="fill-txt-note">
                                    demo demo demo demo demo demo demo demo demo demo demo
                                </span>
                            </div>
                        </td>
                        <td>Nguyễn Việt Dũng</td>
                        <td></td>
                        <td>220.000</td>
                        <td>Đang trình</td>
                        <td>
                            <div class="show-menu-item">
                                <span class="open-show" data-toggle="dropdown">
                                    <i class="far fa-ellipsis-h"></i>
                                </span>
                                <ul class="show-serach-item dropdown-menu">
                                    <li>
                                        <a href=""><i class="fas fa-eye"></i>Duyệt</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fal fa-folder-open"></i>File</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="far fa-file-image"></i>File ảnh</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="far fa-file-archive"></i>Yêu cầu Hủy</a>
                                    </li>
                                    <li>
                                        <a data-toggle="modal" data-target="#myModal-file"><i class="fas fa-print"></i>In</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </div>
    </section>



    <!--popup  file-->
    <div class="modal custom-modal-full" id="myModal-file">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <form action="">
                        <div class="row">
                            <div class="col-xs-12 col-sm-2">
                                <strong>Xem/In biểu mẫu</strong>
                            </div>
                           <div class="col-xs-12 col-sm-10">
                               <div class="row">
                                   <div class="col-xs-12 col-sm-4">
                                       <select class="form-control">
                                           <option>Tìm giấy chứng nhận</option>
                                       </select>
                                   </div>
                                   <div class="col-xs-12 col-sm-4">
                                       <button type="button" onclick = "openPdf()" class="btn btn-blue"><i class="fas fa-print"></i> In biểu mẫu có hiệu lực khi đã duyệt</button>
                                   </div>
                                   <div class="col-xs-12 col-sm-4">
                                       <button type="button" onclick = "openPdf1()" class="btn btn-orange">Xem biểu quyết không có hiệu lực</button>
                                   </div>
                               </div>
                           </div>
                        </div>
                    </form>

                    <button type="button" class="close" data-dismiss="modal"><i class="far fa-times"></i></button>
                </div>
                <div class="modal-body">
                    <div class="show-pdf">
                        <iframe id="fill-pdf" ></iframe>

                        <script>
                            function openPdf() {
                                var omyFrame = document.getElementById("fill-pdf");
                                omyFrame.style.display="block";
                                omyFrame.src = "./img/index/file.pdf";
                            }
                            function openPdf1()
                            {
                                var omyFrame = document.getElementById("fill-pdf");
                                omyFrame.style.display="block";
                                omyFrame.src = "./img/index/file2.pdf";
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
